In [1]:
import time
import pandas as pd
import numpy as np
from google.cloud import storage
from datetime import datetime

In [2]:
start_time=time.time()

# Latest_SFTP_file

In [3]:
from google.cloud import storage
from datetime import datetime
import pandas as pd

class Latest_SFTP_file:
    def __init__(self):
        self.bucket_name = "miag-m360-test-bucket"

    def get_latest_file(self):
        """
        Retrieves the name of the latest file uploaded to a specified GCS bucket.

        :param bucket_name: Name of the GCS bucket
        :return: The name of the latest file or None if the bucket is empty
        """
        client = storage.Client()
        bucket = client.get_bucket(self.bucket_name)
        blobs = list(bucket.list_blobs())
        
        downloaded_files = [blob for blob in blobs if blob.name.startswith("Downloaded Files/")]

        if not downloaded_files:
            print("No files in the 'Downloaded Files' folder.")
            return None

        # Sort blobs by their updated timestamps (most recent first)
        latest_blob = max(downloaded_files, key=lambda blob: blob.updated)

        print(f"The latest file in 'Downloaded Files' is: {latest_blob.name}")
        return latest_blob.name


#     def lowest_document_date(self, sftp_df):
#         lowest_date = pd.to_datetime(sftp_df['Document date'], format='%d.%m.%Y').min()
#         return lowest_date

#     def convert_to_yyyymmdd(self, date_str):
#         """
#         Converts a date string from 'yyyy-mm-dd' to 'yyyymmdd' format.

#         :param date_str: Date string in 'yyyy-mm-dd' format
#         :return: Date string in 'yyyymmdd' format
#         """
#         try:
#             date_obj = datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")  # Parse the input date
#             return date_obj.strftime("%Y%m%d")  # Format it to 'yyyymmdd'
#         except ValueError:
#             raise ValueError("Invalid date format, expected 'yyyy-mm-dd'")

#     def convert_to_yyyy_mm_dd(self, date_str):
#         """
#         Converts a date string from 'yyyymmdd' to 'yyyy-mm-dd' format.

#         :param date_str: Date string in 'yyyymmdd' format
#         :return: Date string in 'yyyy-mm-dd' format
#         """
#         try:
#             date_obj = datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")  # Parse the input date
#             return date_obj.strftime("%Y-%m-%d")  # Format it to 'yyyy-mm-dd'
#         except ValueError:
#             raise ValueError("Invalid date format, expected 'yyyy-mm-dd'")

# Storage_Bucket_Operations

In [4]:
import pandas as pd
from google.cloud import storage
import io


class Storage_Bucket_Operations:

    def __init__(self):
        self.bucket_name = "miag-m360-test-bucket"
        self.download_files_path = "Downloaded Files"

    def readFromBucket(self, sftp_file):
        client = storage.Client(project='cf-hada-bsc-mcctk-mia-kg')
        bucket = client.get_bucket(self.bucket_name)
        blob = bucket.blob(f"{sftp_file}")
        csv_data = blob.download_as_text()
        sftp_df = pd.read_csv(io.StringIO(csv_data), index_col=False,
                              dtype={"Store": str, "Supplier number (MIAG)": str, "Remittance advice number": str,
                                     "Supplier number (Sales Line)": str, "Document number": str,
                                     "Invoice number": str, })
        return sftp_df

# DB_Instance_Operations

In [5]:
import pandas as pd
from sqlalchemy import create_engine, text
import pandasql as ps
import tempfile
import os


class DB_Instance_Operations:

    def __init__(self):
    # GCS bucket details
        bucket_name = "miag-m360-test-bucket"
        cert_files = {
            "sslrootcert": "hada-bsc-miag-m360-psql-pp-server-ca.pem",
            "sslcert": "hada-bsc-miag-m360-psql-pp-client-cert.pem",
            "sslkey": "hada-bsc-miag-m360-psql-pp-client-key.pem"
        }
    
        # Download certificate files into temporary files
        self.cert_temp_paths = self.get_certificates_from_gcs(bucket_name, cert_files)
    
        # Create the database URL using temporary file paths
        self.db_url = (
            r"postgresql+psycopg2://postgres:9rk$Y}gib9kZEucj@10.32.111.54:5432/MIAG-M360_UAT"
            f"?sslmode=require"
            f"&sslrootcert={self.cert_temp_paths['sslrootcert']}"
            f"&sslcert={self.cert_temp_paths['sslcert']}"
            f"&sslkey={self.cert_temp_paths['sslkey']}"
        )
    
        # Create the database engine
        self.engine = create_engine(self.db_url)


    def get_certificates_from_gcs(self, bucket_name, cert_files):
        """Fetch certificate files from GCS and store them in temporary files."""
        storage_client = storage.Client()
        bucket = storage_client.bucket(bucket_name)
        temp_paths = {}
    
        for key, gcs_path in cert_files.items():
            # Create a temporary file
            temp_file = tempfile.NamedTemporaryFile(delete=False)
            blob = bucket.blob(gcs_path)
            blob.download_to_filename(temp_file.name)
            temp_file.close()
            temp_paths[key] = temp_file.name
            print(f"{key} downloaded and stored temporarily at {temp_file.name}")
    
        return temp_paths


    def __del__(self):
        """Clean up temporary files."""
        for path in self.cert_temp_paths.values():
            if os.path.exists(path):
                os.remove(path)
                print(f"Deleted temporary file: {path}")


    def readSDPTable(self):
        # query = "Delete from sdp_pool;"
        # with self.engine.connect() as connection:
        #     connection.execute(text(query))
        #     connection.commit()
        # print("Rows deleted")
        query = "select * from sdp_pool"
        sdp_df = pd.read_sql_query(query, self.engine)
        return sdp_df

    def updateSDP(self, sdp, sftp_df):
        sq1 = "SELECT DISTINCT `Supplier number (Sales Line)`, `Supplier number (MIAG)`, `Supplier name`, `Contract area` FROM sftp_df"
        miag2 = ps.sqldf(sq1, locals())
        if sdp.shape[0] == 0:
            sdp = miag2.copy()
        else:
            sdpq = "Select distinct * from sdp"
            sdp_dist_df = ps.sqldf(sdpq)
            new_supp_in_sftp_query = "SELECT * from sftp_df where `Supplier number (Sales Line)` not in (SELECT `Supplier_Number_Sales` FROM sdp)"
            new_supp_df = ps.sqldf(new_supp_in_sftp_query)
            push_to_sdp_query = "Select `Supplier number (Sales Line)`, `Supplier number (MIAG)`, `Supplier name`, `Contract area` from new_supp_df union Select `Supplier_Number_Sales`, `Supplier_Number_MIAG`, `Supplier_Name`, `Contract_Area` from sdp"
            sdp = ps.sqldf(push_to_sdp_query)
        return sdp

    def writeSDPTable(self, sdp_df):
        column_mapping = {
            'Supplier number (Sales Line)': 'Supplier_Number_Sales',
            'Supplier number (MIAG)': 'Supplier_Number_MIAG',
            'Supplier name': 'Supplier_Name',
            'Contract area': 'Contract_Area'
        }
        sdp_df.rename(columns=column_mapping, inplace=True)
        with self.engine.begin() as connection:
            delete_query = text("Delete from sdp_pool")
            connection.execute(delete_query)
            sdp_df.to_sql('sdp_pool', connection, if_exists='append', index=False)
        print("Written back to SDP Table of DB Instance...")

    def getSupplierNumberForMMSIC(self):
        new_supplier_list_for_mmsic = []
        supplier_list_for_mmsic = self.readSDPTable()['Supplier_Number_Sales'].to_list()
        for i in range(len(supplier_list_for_mmsic)):
            new_supplier_list_for_mmsic.append(str(0) + supplier_list_for_mmsic[i][1:])
        return new_supplier_list_for_mmsic

    def getSupplierNumberForSISIC(self):
        new_supplier_list_for_sisic = []
        supplier_list_for_sisic = self.readSDPTable()['Supplier_Number_Sales'].to_list()
        for i in range(len(supplier_list_for_sisic)):
            new_supplier_list_for_sisic.append(str(1) + supplier_list_for_sisic[i][1:])
        return new_supplier_list_for_sisic

    def getSupplierNumberForFI(self):
        new_supplier_list_for_fi = []
        supplier_list_for_fi = self.readSDPTable()['Supplier_Number_Sales'].to_list()
        for i in range(len(supplier_list_for_fi)):
            new_supplier_list_for_fi.append(supplier_list_for_fi[i][5:])
        return new_supplier_list_for_fi

    def writeICTable(self, extracted_ic_df):
        column_mapping = {
            'LIFNR': 'lifnr',
            'BELNR': 'belnr',
            'RENR': 'renr',
            'REDAT': 'redat',
            'LFSNR': 'lfsnr',
            'GEBRF': 'gebrf',
            'GSMWB': 'gsmwb',
            'GSMWF': 'gsmwf',
            'WAERS': 'waers',
            'WENUM': 'wenum',
            'RGDAT': 'rgdat',
            'ABGST': 'abgst',
            'AUFNR': 'aufnr',
            'VORGN': 'vorgn',
            'GJAHR': 'gjahr',
            'WEDAT': 'wedat',
            'DEBNOTNO': 'debnotno',
        }

        extracted_ic_df.rename(columns=column_mapping, inplace=True)
        with self.engine.connect() as connection:
            delete_query = text("Delete from intermediate_ic")
            connection.execute(delete_query)
            connection.commit()
            extracted_ic_df.to_sql('intermediate_ic', self.engine, if_exists='append', index=False)
        print("Written to Intermediate IC Table of DB Instance...")

    def writeFITable(self, extracted_fi_df):
        column_mapping = {
            'MANDT': 'mandt',
            'Document_type': 'document_type',
            'document_type_desc': 'document_type_desc',
            'GJAHR': 'gjahr',
            'BUKRS': 'bukrs',
            'GSBER': 'gsber',
            'PRCTR': 'prctr',
            'store_or_dc': 'store_or_dc',
            'KOSTL': 'kostl',
            'month_in_fin_year': 'month_in_fin_year',
            'BELNR': 'belnr',
            'XBLNR': 'xblnr',
            'AUGBL': 'augbl',
            'AUGDT': 'augdt',
            'ZFBDT': 'zfbdt',
            'ZBD1T': 'zbd1t',
            'ZBD2T': 'zbd2t',
            'NETDT': 'netdt',
            'BUZEI': 'buzei',
            'altkt': 'altkt',
            'hkont': 'hkont',
            'suppl_no': 'suppl_no',
            'BLDAT': 'bldat',
            'BUDAT': 'budat',
            'CPUDT': 'cpudt',
            'partition_date': 'partition_date',
            'dana_ingestion_date': 'dana_ingestion_date',
            'shkzg': 'shkzg',
            'Amount_in_local_currency': 'amount_in_local_currency',
            'Amount_in_document_currency': 'amount_in_document_currency',
            'Tax_in_local_currency': 'tax_in_local_currency',
            'Tax_in_document_currency': 'tax_in_document_currency',
            'WAERS': 'waers',
            'Batch_Input_session_name': 'batch_input_session_name',
            'sgtxt': 'sgtxt',
        }

        extracted_fi_df.rename(columns=column_mapping, inplace=True)
        with self.engine.connect() as connection:
            delete_query = text("Delete from intermediate_fi")
            connection.execute(delete_query)
            connection.commit()
        extracted_fi_df.to_sql('intermediate_fi', self.engine, if_exists='append', index=False)
        print("Written to Intermediate FI Table of DB Instance...")

    def readICTable(self):
        query = "select * from intermediate_ic"
        df_ic = pd.read_sql_query(query, self.engine)
        return df_ic

    def readFITable(self):
        query = "select * from intermediate_fi"
        df_fi = pd.read_sql_query(query, self.engine)
        return df_fi
    
    def writeMergedTable(self, loadfile_df_copy):
        loadfile_df_copy['COMPANY_CODE'] = loadfile_df_copy['COMPANY_CODE'].astype(str)
        loadfile_df_copy['SUPPLIER_NO'] = loadfile_df_copy['SUPPLIER_NO'].astype(str)
        loadfile_df_copy['MIAG_SUPPLIER_NO'] = loadfile_df_copy['MIAG_SUPPLIER_NO'].astype(str)
        loadfile_df_copy['ORDER_NO'] = loadfile_df_copy['ORDER_NO'].astype(str)
        loadfile_df_copy['DOC_TYPE'] = loadfile_df_copy['DOC_TYPE'].astype(str)
        loadfile_df_copy['INVOICE_NO'] = loadfile_df_copy['INVOICE_NO'].astype(str)
        loadfile_df_copy['INVOICE_DATE'] = loadfile_df_copy['INVOICE_DATE'].astype(str)
        loadfile_df_copy['DELIVERY_NOTE_NO'] = loadfile_df_copy['DELIVERY_NOTE_NO'].astype(str)
        loadfile_df_copy['TOTAL_AMT_DC'] = pd.to_numeric(loadfile_df_copy['TOTAL_AMT_DC'])
        loadfile_df_copy['TOTAL_VAT_DC'] = loadfile_df_copy['TOTAL_VAT_DC'].astype(str)
        loadfile_df_copy['CURRENCY'] = loadfile_df_copy['CURRENCY'].astype(str)
        loadfile_df_copy['PRE_FINANCE_DATE'] = pd.to_datetime(loadfile_df_copy['PRE_FINANCE_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['GOODS_RECEIPT_NO'] = loadfile_df_copy['GOODS_RECEIPT_NO'].astype(str)
        loadfile_df_copy['GOODS_RECEIPT_DATE'] = pd.to_datetime(loadfile_df_copy['GOODS_RECEIPT_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_ENTRY_DATE'] = pd.to_datetime(loadfile_df_copy['INVOICE_ENTRY_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_STATUS'] = loadfile_df_copy['INVOICE_STATUS'].astype(str)
        loadfile_df_copy['INVOICE_STATUS_INTERNAL'] = loadfile_df_copy['INVOICE_STATUS_INTERNAL'].astype(str)
        loadfile_df_copy['NET_DUE_DATE'] = loadfile_df_copy['NET_DUE_DATE'].astype(str)
        loadfile_df_copy['DEBIT_NOTE_NO'] = loadfile_df_copy['DEBIT_NOTE_NO'].astype(str)
        loadfile_df_copy['REMITTANCE_ADVICE_NO'] = loadfile_df_copy['REMITTANCE_ADVICE_NO'].astype(str)
        loadfile_df_copy['CLEARING_DATE'] = pd.to_datetime(loadfile_df_copy['CLEARING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['DOCUMENT_NO'] = loadfile_df_copy['DOCUMENT_NO'].astype(str)
        loadfile_df_copy['STORE_NO'] = loadfile_df_copy['STORE_NO'].astype(str)
        loadfile_df_copy['MATCHING_DATE'] = pd.to_datetime(loadfile_df_copy['MATCHING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['MATCH_STATUS'] = loadfile_df_copy['MATCH_STATUS'].astype(str)
        loadfile_df_copy['SYNC_DATE'] = pd.to_datetime(loadfile_df_copy['SYNC_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['SYNC_STATUS'] = loadfile_df_copy['SYNC_STATUS'].astype(str)
        loadfile_df_copy['ARKTX'] = loadfile_df_copy['ARKTX'].astype(str)
        
        
        column_mapping = {
            'COMPANY_CODE': 'company_code',
            'SUPPLIER_NO': 'supplier_no',
            'MIAG_SUPPLIER_NO': 'miag_supplier',
            'ORDER_NO': 'order_no',
            'DOC_TYPE': 'doc_type',
            'INVOICE_NO': 'invoice_no',
            'INVOICE_DATE': 'invoice_date',
            'DELIVERY_NOTE_NO': 'delivery_note_no',
            'TOTAL_AMT_DC': 'total_amt_dc',
            'TOTAL_VAT_DC': 'total_vat_dc',
            'CURRENCY': 'currency',
            'PRE_FINANCE_DATE': 'pre_finance_date',
            'GOODS_RECEIPT_NO': 'goods_receipt_no',
            'INVOICE_ENTRY_DATE': 'invoice_entry_date',
            'INVOICE_STATUS': 'invoice_status',
            'INVOICE_STATUS_INTERNAL': 'invoice_status_internal',
            'NET_DUE_DATE': 'net_due_date',
            'DEBIT_NOTE_NO': 'debit_note_no',
            'REMITTANCE_ADVICE_NO': 'remittance_advice_no',
            'DOCUMENT_NO': 'document_no',
            'STORE_NO': 'store_no',
            'ARKTX': 'arktx',
            'CLEARING_DATE': 'clearing_date',
            'GOODS_RECEIPT_DATE': 'goods_receipt_date',
            'MATCHING_DATE': 'matching_date',
            'MATCH_STATUS': 'match_status',
            'SYNC_DATE': 'sync_date',
            'SYNC_STATUS': 'sync_status'
        }
        date_columns = ['INVOICE_DATE', 'PRE_FINANCE_DATE', 'INVOICE_ENTRY_DATE', 'NET_DUE_DATE', 'CLEARING_DATE',
                        'GOODS_RECEIPT_DATE', 'MATCHING_DATE', 'SYNC_DATE']
        for column in date_columns:
            loadfile_df_copy[column] = pd.to_datetime(loadfile_df_copy[column], format='%d.%m.%Y').dt.strftime('%m-%d-%Y')
        loadfile_df_copy.rename(columns=column_mapping, inplace=True)
        with self.engine.connect() as connection:
            delete_query = text("Delete from tbl_merged_data")
            connection.execute(delete_query)
            connection.commit()
        loadfile_df_copy.to_sql('tbl_merged_data', self.engine, if_exists='append', index=False)
        print("Written to Final 360 Table of DB Instance...")
        
        
    def writeStagedTable(self, loadfile_df_copy):
        loadfile_df_copy['COMPANY_CODE'] = loadfile_df_copy['COMPANY_CODE'].astype(str)
        loadfile_df_copy['SUPPLIER_NO'] = loadfile_df_copy['SUPPLIER_NO'].astype(str)
        loadfile_df_copy['MIAG_SUPPLIER_NO'] = loadfile_df_copy['MIAG_SUPPLIER_NO'].astype(str)
        loadfile_df_copy['ORDER_NO'] = loadfile_df_copy['ORDER_NO'].astype(str)
        loadfile_df_copy['DOC_TYPE'] = loadfile_df_copy['DOC_TYPE'].astype(str)
        loadfile_df_copy['INVOICE_NO'] = loadfile_df_copy['INVOICE_NO'].astype(str)
        loadfile_df_copy['INVOICE_DATE'] = loadfile_df_copy['INVOICE_DATE'].astype(str)
        loadfile_df_copy['DELIVERY_NOTE_NO'] = loadfile_df_copy['DELIVERY_NOTE_NO'].astype(str)
        loadfile_df_copy['TOTAL_AMT_DC'] = pd.to_numeric(loadfile_df_copy['TOTAL_AMT_DC'])
        loadfile_df_copy['TOTAL_VAT_DC'] = loadfile_df_copy['TOTAL_VAT_DC'].astype(str)
        loadfile_df_copy['CURRENCY'] = loadfile_df_copy['CURRENCY'].astype(str)
        loadfile_df_copy['PRE_FINANCE_DATE'] = pd.to_datetime(loadfile_df_copy['PRE_FINANCE_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['GOODS_RECEIPT_NO'] = loadfile_df_copy['GOODS_RECEIPT_NO'].astype(str)
        loadfile_df_copy['GOODS_RECEIPT_DATE'] = pd.to_datetime(loadfile_df_copy['GOODS_RECEIPT_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_ENTRY_DATE'] = pd.to_datetime(loadfile_df_copy['INVOICE_ENTRY_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_STATUS'] = loadfile_df_copy['INVOICE_STATUS'].astype(str)
        loadfile_df_copy['INVOICE_STATUS_INTERNAL'] = loadfile_df_copy['INVOICE_STATUS_INTERNAL'].astype(str)
        loadfile_df_copy['NET_DUE_DATE'] = loadfile_df_copy['NET_DUE_DATE'].astype(str)
        loadfile_df_copy['DEBIT_NOTE_NO'] = loadfile_df_copy['DEBIT_NOTE_NO'].astype(str)
        loadfile_df_copy['REMITTANCE_ADVICE_NO'] = loadfile_df_copy['REMITTANCE_ADVICE_NO'].astype(str)
        loadfile_df_copy['CLEARING_DATE'] = pd.to_datetime(loadfile_df_copy['CLEARING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['DOCUMENT_NO'] = loadfile_df_copy['DOCUMENT_NO'].astype(str)
        loadfile_df_copy['STORE_NO'] = loadfile_df_copy['STORE_NO'].astype(str)
        loadfile_df_copy['MATCHING_DATE'] = pd.to_datetime(loadfile_df_copy['MATCHING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['MATCH_STATUS'] = loadfile_df_copy['MATCH_STATUS'].astype(str)
        loadfile_df_copy['SYNC_DATE'] = pd.to_datetime(loadfile_df_copy['SYNC_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['SYNC_STATUS'] = loadfile_df_copy['SYNC_STATUS'].astype(str)
        loadfile_df_copy['ARKTX'] = loadfile_df_copy['ARKTX'].astype(str)
        loadfile_df_copy['Description'] = loadfile_df_copy['Description'].astype(str)
        loadfile_df_copy['Bus_year'] = loadfile_df_copy['Bus_year'].astype(str)
        loadfile_df_copy['AUGBL'] = loadfile_df_copy['AUGBL'].astype(str)
        loadfile_df_copy['BLDAT'] = pd.to_datetime(loadfile_df_copy['BLDAT'], format='%d.%m.%Y')
        loadfile_df_copy['AUGDT'] = loadfile_df_copy['AUGDT'].astype(str)
        
        
        column_mapping = {
            'COMPANY_CODE': 'company_code',
            'SUPPLIER_NO': 'supplier_no',
            'MIAG_SUPPLIER_NO': 'miag_supplier',
            'ORDER_NO': 'order_no',
            'DOC_TYPE': 'doc_type',
            'INVOICE_NO': 'invoice_no',
            'INVOICE_DATE': 'invoice_date',
            'DELIVERY_NOTE_NO': 'delivery_note_no',
            'TOTAL_AMT_DC': 'total_amt_dc',
            'TOTAL_VAT_DC': 'total_vat_dc',
            'CURRENCY': 'currency',
            'PRE_FINANCE_DATE': 'pre_finance_date',
            'GOODS_RECEIPT_NO': 'goods_receipt_no',
            'INVOICE_ENTRY_DATE': 'invoice_entry_date',
            'INVOICE_STATUS': 'invoice_status',
            'INVOICE_STATUS_INTERNAL': 'invoice_status_internal',
            'NET_DUE_DATE': 'net_due_date',
            'DEBIT_NOTE_NO': 'debit_note_no',
            'REMITTANCE_ADVICE_NO': 'remittance_advice_no',
            'DOCUMENT_NO': 'document_no',
            'STORE_NO': 'store_no',
            'ARKTX': 'arktx',
            'CLEARING_DATE': 'clearing_date',
            'GOODS_RECEIPT_DATE': 'goods_receipt_date',
            'MATCHING_DATE': 'matching_date',
            'MATCH_STATUS': 'match_status',
            'SYNC_DATE': 'sync_date',
            'SYNC_STATUS': 'sync_status',
            'Description': 'description',
            'Bus_year': 'bus_year',
            'AUGBL': 'augbl',
            'BLDAT': 'bldat',
            'AUGDT': 'augdt'
        }
        date_columns = ['INVOICE_DATE', 'PRE_FINANCE_DATE', 'INVOICE_ENTRY_DATE', 'NET_DUE_DATE', 'CLEARING_DATE',
                        'GOODS_RECEIPT_DATE', 'MATCHING_DATE', 'SYNC_DATE', 'BLDAT', 'AUGDT']
        for column in date_columns:
            loadfile_df_copy[column] = pd.to_datetime(loadfile_df_copy[column], format='%d.%m.%Y').dt.strftime('%m-%d-%Y')
        loadfile_df_copy.rename(columns=column_mapping, inplace=True)
        with self.engine.connect() as connection:
            delete_query = text("Delete from tbl_staged")
            connection.execute(delete_query)
            connection.commit()
        loadfile_df_copy.to_sql('tbl_staged', self.engine, if_exists='append', index=False)
        print("Written to Staged Table of DB Instance...")
        
        
    def writeProcessedTable(self, loadfile_df_copy):
        loadfile_df_copy['COMPANY_CODE'] = loadfile_df_copy['COMPANY_CODE'].astype(str)
        loadfile_df_copy['SUPPLIER_NO'] = loadfile_df_copy['SUPPLIER_NO'].astype(str)
        loadfile_df_copy['MIAG_SUPPLIER_NO'] = loadfile_df_copy['MIAG_SUPPLIER_NO'].astype(str)
        loadfile_df_copy['ORDER_NO'] = loadfile_df_copy['ORDER_NO'].astype(str)
        loadfile_df_copy['DOC_TYPE'] = loadfile_df_copy['DOC_TYPE'].astype(str)
        loadfile_df_copy['INVOICE_NO'] = loadfile_df_copy['INVOICE_NO'].astype(str)
        loadfile_df_copy['INVOICE_DATE'] = loadfile_df_copy['INVOICE_DATE'].astype(str)
        loadfile_df_copy['DELIVERY_NOTE_NO'] = loadfile_df_copy['DELIVERY_NOTE_NO'].astype(str)
        loadfile_df_copy['TOTAL_AMT_DC'] = pd.to_numeric(loadfile_df_copy['TOTAL_AMT_DC'])
        loadfile_df_copy['TOTAL_VAT_DC'] = loadfile_df_copy['TOTAL_VAT_DC'].astype(str)
        loadfile_df_copy['CURRENCY'] = loadfile_df_copy['CURRENCY'].astype(str)
        loadfile_df_copy['PRE_FINANCE_DATE'] = pd.to_datetime(loadfile_df_copy['PRE_FINANCE_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['GOODS_RECEIPT_NO'] = loadfile_df_copy['GOODS_RECEIPT_NO'].astype(str)
        loadfile_df_copy['GOODS_RECEIPT_DATE'] = pd.to_datetime(loadfile_df_copy['GOODS_RECEIPT_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_ENTRY_DATE'] = pd.to_datetime(loadfile_df_copy['INVOICE_ENTRY_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['INVOICE_STATUS'] = loadfile_df_copy['INVOICE_STATUS'].astype(str)
        loadfile_df_copy['INVOICE_STATUS_INTERNAL'] = loadfile_df_copy['INVOICE_STATUS_INTERNAL'].astype(str)
        loadfile_df_copy['NET_DUE_DATE'] = loadfile_df_copy['NET_DUE_DATE'].astype(str)
        loadfile_df_copy['DEBIT_NOTE_NO'] = loadfile_df_copy['DEBIT_NOTE_NO'].astype(str)
        loadfile_df_copy['REMITTANCE_ADVICE_NO'] = loadfile_df_copy['REMITTANCE_ADVICE_NO'].astype(str)
        loadfile_df_copy['CLEARING_DATE'] = pd.to_datetime(loadfile_df_copy['CLEARING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['DOCUMENT_NO'] = loadfile_df_copy['DOCUMENT_NO'].astype(str)
        loadfile_df_copy['STORE_NO'] = loadfile_df_copy['STORE_NO'].astype(str)
        loadfile_df_copy['MATCHING_DATE'] = pd.to_datetime(loadfile_df_copy['MATCHING_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['MATCH_STATUS'] = loadfile_df_copy['MATCH_STATUS'].astype(str)
        loadfile_df_copy['SYNC_DATE'] = pd.to_datetime(loadfile_df_copy['SYNC_DATE'], format='%d.%m.%Y')
        loadfile_df_copy['SYNC_STATUS'] = loadfile_df_copy['SYNC_STATUS'].astype(str)
        loadfile_df_copy['ARKTX'] = loadfile_df_copy['ARKTX'].astype(str)
        loadfile_df_copy['Description'] = loadfile_df_copy['Description'].astype(str)
        loadfile_df_copy['Bus_year'] = loadfile_df_copy['Bus_year'].astype(str)
        loadfile_df_copy['AUGBL'] = loadfile_df_copy['AUGBL'].astype(str)
        loadfile_df_copy['BLDAT'] = pd.to_datetime(loadfile_df_copy['BLDAT'], format='%d.%m.%Y')
        loadfile_df_copy['AUGDT'] = loadfile_df_copy['AUGDT'].astype(str)
        
        
        column_mapping = {
            'COMPANY_CODE': 'company_code',
            'SUPPLIER_NO': 'supplier_no',
            'MIAG_SUPPLIER_NO': 'miag_supplier',
            'ORDER_NO': 'order_no',
            'DOC_TYPE': 'doc_type',
            'INVOICE_NO': 'invoice_no',
            'INVOICE_DATE': 'invoice_date',
            'DELIVERY_NOTE_NO': 'delivery_note_no',
            'TOTAL_AMT_DC': 'total_amt_dc',
            'TOTAL_VAT_DC': 'total_vat_dc',
            'CURRENCY': 'currency',
            'PRE_FINANCE_DATE': 'pre_finance_date',
            'GOODS_RECEIPT_NO': 'goods_receipt_no',
            'INVOICE_ENTRY_DATE': 'invoice_entry_date',
            'INVOICE_STATUS': 'invoice_status',
            'INVOICE_STATUS_INTERNAL': 'invoice_status_internal',
            'NET_DUE_DATE': 'net_due_date',
            'DEBIT_NOTE_NO': 'debit_note_no',
            'REMITTANCE_ADVICE_NO': 'remittance_advice_no',
            'DOCUMENT_NO': 'document_no',
            'STORE_NO': 'store_no',
            'ARKTX': 'arktx',
            'CLEARING_DATE': 'clearing_date',
            'GOODS_RECEIPT_DATE': 'goods_receipt_date',
            'MATCHING_DATE': 'matching_date',
            'MATCH_STATUS': 'match_status',
            'SYNC_DATE': 'sync_date',
            'SYNC_STATUS': 'sync_status',
            'Description': 'description',
            'Bus_year': 'bus_year',
            'AUGBL': 'augbl',
            'BLDAT': 'bldat',
            'AUGDT': 'augdt'
        }
        date_columns = ['INVOICE_DATE', 'PRE_FINANCE_DATE', 'INVOICE_ENTRY_DATE', 'NET_DUE_DATE', 'CLEARING_DATE',
                        'GOODS_RECEIPT_DATE', 'MATCHING_DATE', 'SYNC_DATE', 'BLDAT', 'AUGDT']
        for column in date_columns:
            loadfile_df_copy[column] = pd.to_datetime(loadfile_df_copy[column], format='%d.%m.%Y').dt.strftime('%m-%d-%Y')
        loadfile_df_copy.rename(columns=column_mapping, inplace=True)
        with self.engine.connect() as connection:
            delete_query = text("Delete from tbl_processed")
            connection.execute(delete_query)
            connection.commit()
        loadfile_df_copy.to_sql('tbl_processed', self.engine, if_exists='append', index=False)
        print("Written to Processed Table of DB Instance...")


# db_instance_ops = DB_Instance_Operations()
# sdp_df = db_instance_ops.readSDPTable()
# sdp_df = db_instance_ops.updateSDP(sdp_df, sftp_df)
# db_instance_ops.writeSDPTable(sdp_df)
# sdp_supplier_list_for_mmsic = db_instance_ops.getSupplierNumberForMMSIC()
# sdp_supplier_list_for_sisic = db_instance_ops.getSupplierNumberForSISIC()
# sdp_supplier_list_for_fi = db_instance_ops.getSupplierNumberForFI()

# BigQuery_Operations

In [6]:
from google.cloud import bigquery


class BigQuery_Operations:
    def __init__(self):
        self.client = bigquery.Client()

    def extract_MMSIC(self, sdp_supplier_list_for_mmsic):
        add_string = ""
        for i in range(len(sdp_supplier_list_for_mmsic)):
            add_string += "'"
            add_string += str(sdp_supplier_list_for_mmsic[i])
            add_string += "'"
            add_string += ", "
        add_string = add_string[:-2]
        query = f"""
                WITH LatestRecords AS (
    SELECT 
        LIFNR, 
        RENR, 
        MAX(dana_ingestion_timestamp) AS latest_timestamp
    FROM 
        `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.mmsic_to_dana_gr_invoice_header`
    GROUP BY 
        LIFNR, RENR
)
SELECT 
    T1.LIFNR, 
    T1.BELNR, 
    T1.RENR, 
    T1.REDAT, 
    T1.LFSNR, 
    T1.GEBRF, 
    T1.GSMWB, 
    T1.GSMWF,
    T1.WAERS,
    T1.WENUM,
    T1.RGDAT,
    T1.ABGST,
    T1.AUFNR,
    T1.VORGN,
    T1.GJAHR,
    T2.WEDAT,
    T1.DEBNOTNO
FROM 
    `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.mmsic_to_dana_gr_invoice_header` AS T1
LEFT JOIN (
    SELECT DISTINCT  
        VORGN, 
        WEDAT, 
        GJAHR 
    FROM
        `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.mmsic_to_dana_gr_table_header`
) AS T2
ON 
    T1.VORGN = T2.VORGN
JOIN 
    LatestRecords LR
ON 
    T1.LIFNR = LR.LIFNR 
    AND T1.RENR = LR.RENR 
    AND T1.dana_ingestion_timestamp = LR.latest_timestamp
WHERE
    T1.LIFNR IN ({add_string})
ORDER BY 
    T1.dana_ingestion_timestamp;
                """
        extracted_mmsic_df = self.client.query(query).to_dataframe()
        return extracted_mmsic_df

    def extract_SISIC(self, sdp_supplier_list_for_sisic):
        add_string = ""
        for i in range(len(sdp_supplier_list_for_sisic)):
            add_string += "'"
            add_string += str(sdp_supplier_list_for_sisic[i])
            add_string += "'"
            add_string += ", "
        add_string = add_string[:-2]
        query = f"""
                WITH LatestRecords AS (
    SELECT 
        LIFNR, 
        RENR, 
        MAX(dana_ingestion_timestamp) AS latest_timestamp
    FROM 
        `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.sis_to_dana_gr_invoice_header`
    GROUP BY 
        LIFNR, RENR
)
SELECT 
    T1.LIFNR, 
    T1.BELNR, 
    T1.RENR, 
    T1.REDAT, 
    T1.LFSNR, 
    T1.GEBRF, 
    T1.GSMWB, 
    T1.GSMWF,
    T1.WAERS,
    T1.WENUM,
    T1.RGDAT,
    T1.ABGST,
    T1.AUFNR,
    T1.VORGN,
    T1.GJAHR,
    T2.WEDAT,
    T1.DEBNOTNO
FROM 
    `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.sis_to_dana_gr_invoice_header` AS T1
LEFT JOIN (
    SELECT DISTINCT  
        VORGN, 
        WEDAT, 
        GJAHR 
    FROM
        `metro-bi-dl-tur-prod.ingest_fgtf_mmsic.sis_to_dana_gr_table_header`
) AS T2
ON 
    T1.VORGN = T2.VORGN
JOIN 
    LatestRecords LR
ON 
    T1.LIFNR = LR.LIFNR 
    AND T1.RENR = LR.RENR 
    AND T1.dana_ingestion_timestamp = LR.latest_timestamp
WHERE
    T1.LIFNR IN ({add_string})
ORDER BY 
    T1.dana_ingestion_timestamp;
                """
        extracted_sisic_df = self.client.query(query).to_dataframe()
        return extracted_sisic_df

    def extract_FI(self, sdp_supplier_list_for_fi):
        add_string = ""
        for i in range(len(sdp_supplier_list_for_fi)):
            add_string += str(sdp_supplier_list_for_fi[i])
            add_string += ", "
        add_string = add_string[:-2]
        query = f"""
                    DECLARE country STRING DEFAULT 'tur';
        DECLARE current_fiscal_year INT64 DEFAULT 2025;
        DECLARE store_flag STRING DEFAULT 'prctr';-- or 'gsber';
        DECLARE end_month_id INT64 DEFAULT EXTRACT(YEAR FROM DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)) * 100 + EXTRACT(MONTH FROM DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH));    
        DECLARE start_year INT64 DEFAULT 2007;
        DECLARE end_year INT64 DEFAULT 2025;
        CREATE OR REPLACE TABLE metro-bi-wb-mag-figov-s00.data_integrity_proj.sap_tur_360data_BELNR_testdoc
        AS(
        WITH fidoc AS (
        SELECT * ,
        MAX  (dana_ingestion_timestamp) over (PARTITION BY MANDT, BELNR, GJAHR, BUKRS, bseg.BUZEI) as max_timestamp,
        ROW_NUMBER () over (PARTITION BY MANDT, BELNR, GJAHR, BUKRS, bseg.BUZEI order by dana_ingestion_timestamp DESC) as rn
        FROM metro-bi-dl-tur-prod.ingest_fgtf_sap.fidoc fi,
        UNNEST (zbseg) AS bseg
        WHERE 1=1
        AND gjahr BETWEEN start_year AND end_year
        ),
        fidoc_unique AS (
        SELECT *
        , CASE  WHEN store_flag = 'gsber' THEN fi.gsber
            WHEN store_flag = 'prctr' THEN fi.prctr
        END AS business_area
        FROM fidoc fi
        WHERE fi.dana_ingestion_timestamp  = max_timestamp
        AND rn = 1
        )
        SELECT
        fi.MANDT
        , zbkpf.blart AS Document_type
        , doc_type.ltext as document_type_desc
        , GJAHR
        , BUKRS
        , GSBER
        , PRCTR
        , cast(prctr as int64)-cast(bukrs as int64)*10000 as store_or_dc
        , KOSTL
        , zbkpf.monat as month_in_fin_year
        , BELNR
        , zbkpf.XBLNR
        --, AUFNR
        , AUGBL
        , AUGDT
        , ZFBDT
        , ZBD1T
        , ZBD2T
        , NETDT
        , BUZEI
        , altkt
        , hkont
        , MOD(SAFE_CAST(fi.z_dana_lfa1.lifnr AS int64), 100000) as suppl_no
        , zbkpf.BLDAT
        , zbkpf.BUDAT
        , zbkpf.CPUDT
        , date(fi.PARTITIONTIME) partition_date
        , date(fi.dana_ingestion_timestamp) dana_ingestion_date
        , shkzg
        ,      CASE WHEN shkzg = 'H' THEN (-1) * fi.dmbtr
                    ELSE fi.dmbtr
                    END                 as Amount_in_local_currency
        ,      CASE WHEN shkzg = 'H' THEN (-1) * fi.wrbtr
                    ELSE fi.wrbtr
                    END                 as Amount_in_document_currency
        ,      CASE WHEN shkzg = 'H' THEN (-1) * fi.mwsts
                    ELSE fi.mwsts
                    END                 as Tax_in_local_currency
        ,      CASE WHEN shkzg = 'H' THEN (-1) * fi.wmwst
                    ELSE fi.wmwst
                    END                 as Tax_in_document_currency
        , zbkpf.WAERS
        , ZBKPF.GRPID AS Batch_Input_session_name
        , sgtxt
        -- *
        FROM fidoc_unique fi
        LEFT JOIN
        ( select * from metro-bi-dl-tur-prod.ingest_fgtf_sap.t003t AS doc_type
            WHERE 1=1
            AND doc_type.spras = 'EN'
            qualify dana_ingestion_timestamp = max(dana_ingestion_timestamp) over (partition by BLART, MANDT, SPRAS, SYSID)
            order by doc_type.blart
        ) AS doc_type
            ON zbkpf.blart = doc_type.blart
        where 1=1    
        and MOD(SAFE_CAST(fi.z_dana_lfa1.lifnr AS int64), 100000) IN ({add_string})
        )
                """
        extracted_fi_full_df = self.client.query(query).to_dataframe()
        query2 = f"select * from `metro-bi-wb-mag-figov-s00.data_integrity_proj.sap_tur_360data_BELNR_testdoc`"
        extracted_fi_df = self.client.query(query2).to_dataframe()
        # extracted_fi_df = extracted_fi_df.drop('BUZEI', axis=1)
        return extracted_fi_df

# if __name__ == "__main__":
#     bq_ops = BigQuery_Operations()

In [7]:
storage_bucket_operations = Storage_Bucket_Operations()
db_instance_operations = DB_Instance_Operations()
bigquery_operations = BigQuery_Operations()
latest_sftp_file = Latest_SFTP_file()

sslrootcert downloaded and stored temporarily at /var/tmp/tmpes__5gbb
sslcert downloaded and stored temporarily at /var/tmp/tmp6txboy0g
sslkey downloaded and stored temporarily at /var/tmp/tmphvcipvt5

In [8]:
sftp_file = latest_sftp_file.get_latest_file()
print("SFTP file : ", sftp_file)
sftp_df = storage_bucket_operations.readFromBucket(sftp_file)
print("SFTP shape : ", sftp_df.shape)

The latest file in 'Downloaded Files' is: Downloaded Files/miag.35.288125.20250205.63.csv
SFTP file :  Downloaded Files/miag.35.288125.20250205.63.csv
SFTP shape :  (164079, 18)

In [9]:
sftp_df['SFTP_bus_year'] = sftp_df['Document date'].str.split('.').str[2]

In [10]:
sftp_df['SFTP_bus_year'].isna().sum()

8

In [11]:
sftp_mv_df = sftp_df[sftp_df['Document type']=='MV']

In [12]:
sftp_non_mv_df = sftp_df[sftp_df['Document type']!='MV']

In [13]:
sftp_mv_df.shape

(721, 19)

In [14]:
sftp_non_mv_df.shape

(163358, 19)

In [15]:
def filter_group(group):
    if len(group) == 2:
        descriptions = group['Description'].tolist()
        if 'open' in descriptions and 'pre-financed' in descriptions:
            # Keep only the 'open' record
            group = group[group['Description'] != 'pre-financed']
    return group

# Apply filtering group-wise
sftp_result_df = (
    sftp_mv_df.groupby(
        ['Supplier number (Sales Line)', 'Document number', 'Invoice number', 'SFTP_bus_year'],
        group_keys=False
    ).apply(filter_group)
)

In [16]:
mv_1st_merged_df = pd.merge(
    sftp_result_df,
    sftp_non_mv_df,
    on=['Supplier number (Sales Line)', 'Document number', 'Invoice number', 'SFTP_bus_year'],
    how='left',
    suffixes=('_x', '_y')  # Explicitly naming suffixes for clarity
)

# Ensure 'Document type' columns are handled properly
mv_1st_merged_df['Combined_Document_types'] = mv_1st_merged_df[['Document type_x', 'Document type_y']].apply(
    lambda row: [val for val in row if pd.notna(val)], axis=1
)
mv_1st_merged_df['RAN'] = mv_1st_merged_df[['Remittance advice number_x', 'Remittance advice number_y']].apply(
    lambda row: [val for val in row if pd.notna(val)], axis=1
)
# Group by the relevant columns in sftp_mv_df
grouped = mv_1st_merged_df.groupby(
    ['Supplier number (Sales Line)', 'Document number', 'Invoice number', 'SFTP_bus_year']
)

# Aggregate the results
old_mv_metadata_df = grouped.agg(
    Document_Count=('Combined_Document_types', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
    Document_types=('Combined_Document_types', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique document types
    RAN_count=('RAN', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
    RAN_list=('RAN', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item))))  # Flattened unique list ignoring NaN
).reset_index()

In [17]:
old_mv_metadata_df

,Supplier number (Sales Line),Document number,Invoice number,SFTP_bus_year,Document_Count,Document_types,RAN_count,RAN_list
0,1000019596,0810009095,J012024000000011,2024,2,"[WE, MV]",1,[03517411659]
1,1000019596,0810009096,J012024000000010,2024,2,"[WE, MV]",1,[03517411659]
2,1000019596,0810102410,L102024000000029,2024,1,[MV],0,[]
3,1000019596,0810104143,L102024000000028,2024,1,[MV],0,[]
4,1000019596,0810112628,L172024000000011,2024,1,[MV],0,[]
...,...,...,...,...,...,...,...,...
716,1000061122,0810422866,ERS2024000047872,2024,2,"[WE, MV]",1,[03517187345]
717,1000061122,0810422944,ERS2024000047874,2024,2,"[WE, MV]",1,[03517187345]
718,1000061122,0810423000,ERS2024000047999,2024,2,"[WE, MV]",1,[03517187345]
719,1000061122,0810423001,ERS2024000047998,2024,2,"[WE, MV]",1,[03517187345]
720,1000061122,0810423004,ERS2024000048040,2024,2,"[WE, MV]",1,[03517187345]

In [18]:
#------

In [19]:
len(old_mv_metadata_df[old_mv_metadata_df['Document_Count']==2])

659

In [20]:
len(old_mv_metadata_df[old_mv_metadata_df['Document_Count']==1])

62

In [21]:
len(old_mv_metadata_df[(old_mv_metadata_df['Document_Count']==1) & (old_mv_metadata_df['RAN_count']==1)])

2

In [22]:
len(old_mv_metadata_df[(old_mv_metadata_df['Document_Count']==1) & (old_mv_metadata_df['RAN_count']==0)])

60

In [23]:
#------

In [24]:
partial_paid_df = old_mv_metadata_df[(old_mv_metadata_df['Document_Count']==1) &  (old_mv_metadata_df['Document_types'].apply(lambda x: x == ['MV'])) & (old_mv_metadata_df['RAN_count']==1)]

In [25]:
partial_paid_df.columns

Index(['Supplier number (Sales Line)', 'Document number', 'Invoice number',
       'SFTP_bus_year', 'Document_Count', 'Document_types', 'RAN_count',
       'RAN_list'],
      dtype='object')

In [26]:
sftp_df = pd.concat([sftp_non_mv_df, sftp_result_df], ignore_index=True)

In [27]:
print("New SFTP length after removing pre-financed records : ", len(sftp_df))

New SFTP length after removing pre-financed records :  164079

In [28]:
sftp_df.columns

Index(['Contract area', 'Supplier number (Sales Line)',
       'Supplier number (MIAG)', 'Supplier name', 'VAT number',
       'Document number', 'Invoice number', 'Document type', 'Document date',
       'Remittance advice number', 'Value date', 'Currency', 'Gross amount',
       'Description', 'Contract indicator', 'Store', 'Company code', 'ARKTX',
       'SFTP_bus_year'],
      dtype='object')

In [29]:
sdp_df = db_instance_operations.readSDPTable()
sdp_df = db_instance_operations.updateSDP(sdp_df, sftp_df)
db_instance_operations.writeSDPTable(sdp_df)

Written back to SDP Table of DB Instance...

In [30]:
sdp_supplier_list_for_mmsic = db_instance_operations.getSupplierNumberForMMSIC()
sdp_supplier_list_for_sisic = db_instance_operations.getSupplierNumberForSISIC()
sdp_supplier_list_for_fi = db_instance_operations.getSupplierNumberForFI()

In [31]:
print(len(sdp_supplier_list_for_mmsic))
print(len(sdp_supplier_list_for_sisic))
print(len(sdp_supplier_list_for_fi))

88
88
88

In [32]:
df_fi = bigquery_operations.extract_FI(sdp_supplier_list_for_fi)
sisic_df = bigquery_operations.extract_SISIC(sdp_supplier_list_for_sisic)
mmsic_df = bigquery_operations.extract_MMSIC(sdp_supplier_list_for_mmsic)

In [33]:
df_fi.shape

(3009645, 35)

In [34]:
df_fi = df_fi.applymap(lambda x: x.strip() if isinstance(x, str) else x)
sisic_df = sisic_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
mmsic_df = mmsic_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [35]:
df_fi_copy = df_fi.copy()
df_ic = pd.concat([mmsic_df, sisic_df], ignore_index=True)
df_ic_copy = df_ic.copy()
df_fi = df_fi[df_fi['Document_type'] != 'PM']

In [36]:
doc_to_type_ic = dict(zip(df_ic['BELNR'], df_ic['RENR']))
df_fi['XBLNR'] = df_fi['XBLNR'].fillna(df_fi['BELNR'].map(doc_to_type_ic))
doc_to_type_fi = dict(zip(df_fi['XBLNR'], df_fi['BELNR']))
df_ic['BELNR'] = df_ic['BELNR'].str.strip().replace('', np.nan)
df_ic['BELNR'] = df_ic['BELNR'].fillna(df_ic['RENR'].map(doc_to_type_fi))

# Cleaning FI

In [37]:
fi_unique_count = df_fi[['suppl_no', 'BELNR', 'XBLNR', 'BLDAT']].drop_duplicates().shape[0]
print("Count of unique records in FI before cleaning : ", fi_unique_count)

Count of unique records in FI before cleaning :  913760

In [38]:
df_fi.dtypes

MANDT                                  object
Document_type                          object
document_type_desc                     object
GJAHR                                   int64
BUKRS                                  object
GSBER                                  object
PRCTR                                  object
store_or_dc                            object
KOSTL                                  object
month_in_fin_year                       int64
BELNR                                  object
XBLNR                                  object
AUGBL                                  object
AUGDT                                  object
ZFBDT                                  object
ZBD1T                                 float64
ZBD2T                                 float64
NETDT                          datetime64[ns]
BUZEI                                   int64
altkt                                  object
hkont                                  object
suppl_no                                int64
BLDAT                                  object
BUDAT                                  object
CPUDT                                  object
partition_date                         object
dana_ingestion_date                    object
shkzg                                  object
Amount_in_local_currency              float64
Amount_in_document_currency           float64
Tax_in_local_currency                 float64
Tax_in_document_currency              float64
WAERS                                  object
Batch_Input_session_name               object
sgtxt                                  object
dtype: object

In [39]:
df_fi['suppl_no'] = df_fi['suppl_no'].astype(str)
df_fi['BLDAT'] = df_fi['BLDAT'].astype(str)
df_fi['BELNR'] = df_fi['BELNR'].astype(str)
df_fi['XBLNR'] = df_fi['XBLNR'].astype(str)

In [40]:
doc_nos_with_no_ZFBDT = []
doc_nos_with_1_ZFBDT = []
doc_nos_with_more_ZFBDT = []

def select_final_row(group):
    # Filter rows where ZFBDT is present
    group_with_ZFBDT = group[group['ZFBDT'].notna()]
    number_ZFBDT_present = len(group_with_ZFBDT)

    # Case: number_ZFBDT_present > 1
    if number_ZFBDT_present > 1:
        doc_nos_with_more_ZFBDT.append(
(group['suppl_no'].iloc[0], group['BELNR'].iloc[0], group['XBLNR'].iloc[0], group['BLDAT'].iloc[0]))
        # Check if any rows have ZBD1T or ZBD2T present
        rows_with_ZBD = group_with_ZFBDT[group_with_ZFBDT['ZBD1T'].notna() | group_with_ZFBDT['ZBD2T'].notna()]
        if not rows_with_ZBD.empty:
            # Select the first row from rows_with_ZBD
            final_selected_row = rows_with_ZBD.iloc[0]
        else:
            # Select the row with the least ZFBDT
            min_ZFBDT_rows = group_with_ZFBDT[group_with_ZFBDT['ZFBDT'] == group_with_ZFBDT['ZFBDT'].min()]
            # If multiple rows have the least ZFBDT, choose the one with the least BUZEI
            final_selected_row = min_ZFBDT_rows.loc[min_ZFBDT_rows['BUZEI'].idxmin()]
    elif number_ZFBDT_present == 1:
        doc_nos_with_1_ZFBDT.append(
(group['suppl_no'].iloc[0], group['BELNR'].iloc[0], group['XBLNR'].iloc[0], group['BLDAT'].iloc[0])
)
        # Case: number_ZFBDT_present == 1
        final_selected_row = group_with_ZFBDT.iloc[0]
    else:
        # Case: number_ZFBDT_present == 0
        # Select the row with the least BUZEI
        doc_nos_with_no_ZFBDT.append(
(group['suppl_no'].iloc[0], group['BELNR'].iloc[0], group['XBLNR'].iloc[0], group['BLDAT'].iloc[0])
)
        final_selected_row = group.loc[group['BUZEI'].idxmin()]

    return final_selected_row

df_fi = (
            df_fi
            .groupby(['suppl_no', 'BELNR', 'XBLNR', 'BLDAT'], group_keys=False)
            .apply(select_final_row)
            .reset_index(drop=True)
        )

In [41]:
df_fi['BELNR'] = df_fi['BELNR'].replace('nan', np.nan)
df_fi['XBLNR'] = df_fi['XBLNR'].replace('nan', np.nan)
df_fi['BLDAT'] = df_fi['BLDAT'].replace('nan', np.nan)

In [42]:
df_fi['suppl_no'] = df_fi['suppl_no'].astype('int64')
df_fi['BLDAT'] = df_fi['BLDAT'].astype('object')
df_fi['BELNR'] = df_fi['BELNR'].astype('object')
df_fi['XBLNR'] = df_fi['XBLNR'].astype('object')

In [43]:
print("FI shape after cleaning : ", df_fi.shape)

FI shape after cleaning :  (913760, 35)

# Writing FI

In [44]:
column_types = {
            "MANDT": "object",
            "Document_type": "object",
            "document_type_desc": "object",
            "GJAHR": "Int64",  # Nullable integer
            "BUKRS": "object",
            "GSBER": "object",
            "PRCTR": "object",
            "store_or_dc": "Int64",  # Nullable integer
            "KOSTL": "object",
            "month_in_fin_year": "Int64",  # Nullable integer
            "BELNR": "object",
            "XBLNR": "object",
            "AUGBL": "object",
            "AUGDT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "ZFBDT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "ZBD1T": "float64",
            "ZBD2T": "float64",
            "NETDT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "BUZEI": "Int64",  # Nullable integer
            "altkt": "object",
            "hkont": "object",
            "suppl_no": "Int64",  # Nullable integer
            "BLDAT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "BUDAT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "CPUDT": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "partition_date": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "dana_ingestion_date": "datetime64[ns]",  # Assuming dbdate maps to datetime
            "shkzg": "object",
            "Amount_in_local_currency": "float64",
            "Amount_in_document_currency": "float64",
            "Tax_in_local_currency": "float64",
            "Tax_in_document_currency": "float64",
            "WAERS": "object",
            "Batch_Input_session_name": "object",
            "sgtxt": "object",
        }

        # Convert columns to the appropriate types
for col, dtype in column_types.items():
    if dtype == "datetime64[ns]":
        # Convert to datetime while handling errors
        df_fi[col] = pd.to_datetime(df_fi[col], errors="coerce")
    elif dtype == "Int64":
        # Convert to Pandas nullable integer
        df_fi[col] = df_fi[col].astype("Int64")
    else:
        # Convert to the specified type
        df_fi[col] = df_fi[col].astype(dtype)

print("Type casted cleaned FI for storage")

Type casted cleaned FI for storage

In [45]:
db_instance_operations.writeFITable(df_fi)

Written to Intermediate FI Table of DB Instance...

# Cleaning IC

In [46]:
ic_unique_count = df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']].drop_duplicates().shape[0]
print("Count of unique records in IC before cleaning : ", ic_unique_count)

Count of unique records in IC before cleaning :  463262

In [47]:
df_ic.dtypes

LIFNR       object
BELNR       object
RENR        object
REDAT       object
LFSNR       object
GEBRF       object
GSMWB       object
GSMWF       object
WAERS       object
WENUM       object
RGDAT       object
ABGST       object
AUFNR       object
VORGN       object
GJAHR       object
WEDAT       object
DEBNOTNO    object
dtype: object

In [48]:
df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']] = df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']].astype(str)

In [49]:
def get_max_populated_row(group):
    # Count non-null values for each row
    non_null_counts = group.notnull().sum(axis=1)
    # Get the index of the row with the maximum count
    max_index = non_null_counts.idxmax()
    return group.loc[max_index]

df_ic = (
            df_ic
            .groupby(['LIFNR', 'BELNR', 'RENR', 'REDAT'])
            .apply(get_max_populated_row)
            .reset_index(drop=True)
        )

In [50]:
df_ic['LIFNR'] = df_ic['LIFNR'].replace('nan', np.nan)
df_ic['BELNR'] = df_ic['BELNR'].replace('nan', np.nan)
df_ic['RENR'] = df_ic['RENR'].replace('nan', np.nan)
# df_ic['GEBRF'] = df_ic['GEBRF'].replace('nan', np.nan)
df_ic['REDAT'] = df_ic['REDAT'].replace('nan', np.nan)

In [51]:
df_ic['LIFNR'] = df_ic['LIFNR'].astype('object')
df_ic['BELNR'] = df_ic['BELNR'].astype('object')
df_ic['RENR'] = df_ic['RENR'].astype('object')
# df_ic['GEBRF'] = df_ic['GEBRF'].astype('object')
df_ic['REDAT'] = df_ic['REDAT'].astype('object')

In [52]:
print("IC shape after cleaning : ", df_ic.shape)

IC shape after cleaning :  (463262, 17)

# Writing IC

In [53]:
db_instance_operations.writeICTable(df_ic)

Written to Intermediate IC Table of DB Instance...

In [54]:
df_fi.columns = ['MANDT', 'Document_type', 'document_type_desc', 'GJAHR', 'BUKRS',
                         'GSBER', 'PRCTR', 'store_or_dc', 'KOSTL', 'month_in_fin_year', 'BELNR',
                         'XBLNR', 'AUGBL', 'AUGDT', 'ZFBDT', 'ZBD1T', 'ZBD2T', 'NETDT', 'BUZEI',
                         'altkt', 'hkont', 'suppl_no', 'BLDAT', 'BUDAT', 'CPUDT',
                         'partition_date', 'dana_ingestion_date', 'shkzg',
                         'Amount_in_local_currency', 'Amount_in_document_currency',
                         'Tax_in_local_currency', 'Tax_in_document_currency', 'WAERS',
                         'Batch_Input_session_name', 'sgtxt']

In [55]:
df_ic.columns = ['LIFNR', 'BELNR', 'RENR', 'REDAT', 'LFSNR', 'GEBRF', 'GSMWB', 'GSMWF',
                         'WAERS', 'WENUM', 'RGDAT', 'ABGST', 'AUFNR', 'VORGN', 'GJAHR', 'WEDAT',
                         'DEBNOTNO']

In [56]:
df_ic['LIFNR'] = df_ic['LIFNR'].apply(
    lambda x: '10000' + str(x) if not pd.isna(x) and len(str(x)) < 10 else str(x) if not pd.isna(
        x) else '0' * 10
)

df_fi['suppl_no'] = df_fi['suppl_no'].apply(
    lambda x: '10000' + str(x) if not pd.isna(x) and len(str(x)) < 10 else str(x) if not pd.isna(
        x) else '0' * 10
)

df_ic['BELNR'] = df_ic['BELNR'].apply(
    lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

df_fi['BELNR'] = df_fi['BELNR'].apply(
    lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

sftp_df['Document number'] = sftp_df['Document number'].apply(
    lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

In [57]:
def transform_number(num):
    if pd.isna(num):  # Check for NaN values
        return np.nan  # Return NaN if the input is NaN
    num_str = str(num)  # Convert to string

    # If the number already starts with '10000', return it as is
    if num_str.startswith('10000'):
        return num_str

    stripped_num = num_str.lstrip('0')  # Remove leading zeros
    final_num = stripped_num.zfill(6)  # Ensure it has at least 6 digits
    return '1000' + final_num  # Prepend '10000'

df_ic['LIFNR'] = df_ic['LIFNR'].apply(transform_number)

# 2nd Cleaning IC

In [58]:
new_ic_unique_count = df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']].drop_duplicates().shape[0]
print("Count of unique records in IC after cleaning : ", new_ic_unique_count)

Count of unique records in IC after cleaning :  458449

In [59]:
df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']] = df_ic[['LIFNR', 'BELNR', 'RENR', 'REDAT']].astype(str)

In [60]:
def get_max_populated_row(group):
    # Count non-null values for each row
    non_null_counts = group.notnull().sum(axis=1)
    # Get the index of the row with the maximum count
    max_index = non_null_counts.idxmax()
    return group.loc[max_index]

df_ic = (
            df_ic
            .groupby(['LIFNR', 'BELNR', 'RENR', 'REDAT'])
            .apply(get_max_populated_row)
            .reset_index(drop=True)
        )

In [61]:
df_ic['LIFNR'] = df_ic['LIFNR'].replace('nan', np.nan)
df_ic['BELNR'] = df_ic['BELNR'].replace('nan', np.nan)
df_ic['RENR'] = df_ic['RENR'].replace('nan', np.nan)
# df_ic['GEBRF'] = df_ic['GEBRF'].replace('nan', np.nan)
df_ic['REDAT'] = df_ic['REDAT'].replace('nan', np.nan)

In [62]:
df_ic['LIFNR'] = df_ic['LIFNR'].astype('object')
df_ic['BELNR'] = df_ic['BELNR'].astype('object')
df_ic['RENR'] = df_ic['RENR'].astype('object')
# df_ic['GEBRF'] = df_ic['GEBRF'].astype('object')
df_ic['REDAT'] = df_ic['REDAT'].astype('object')

In [63]:
print("IC shape after cleaning : ", df_ic.shape)

IC shape after cleaning :  (458449, 17)

In [64]:
columns_to_convert_ic = ['REDAT', 'RGDAT', 'WEDAT']
for col in columns_to_convert_ic:
    df_ic[col] = pd.to_datetime(df_ic[col], format='%Y%m%d').dt.strftime('%d.%m.%Y')

In [65]:
columns_to_convert_fi = ['AUGDT', 'ZFBDT', 'NETDT', 'BLDAT', 'BUDAT', 'CPUDT', 'partition_date','dana_ingestion_date']
for col in columns_to_convert_fi:
    df_fi[col] = pd.to_datetime(df_fi[col], format='%Y-%m-%d').dt.strftime('%d.%m.%Y')

In [66]:
df_fi['Amount_in_local_currency'] = df_fi['Amount_in_local_currency'] * -1

In [67]:
sftp_df['SFTP_bus_year']

0         2024
1         2024
2         2024
3         2024
4         2024
          ...
164074    2024
164075    2024
164076    2024
164077    2024
164078    2024
Name: SFTP_bus_year, Length: 164079, dtype: object

In [68]:
df_ic['fin_year_IC'] = pd.to_datetime(df_ic['REDAT'], format='%d.%m.%Y').dt.year.astype('Int64')

df_fi['fin_year_FI'] = pd.to_datetime(df_fi['BLDAT'], format='%d.%m.%Y').dt.year.astype('Int64')

sftp_df['SFTP_bus_year'] = sftp_df['SFTP_bus_year'].astype('Int64')

# Merging

In [69]:
merge_fi_ic = df_fi.merge(df_ic, left_on=["suppl_no", "BELNR", "XBLNR", "fin_year_FI"],
                          right_on=["LIFNR", "BELNR", "RENR", "fin_year_IC"], how="outer")

print("1st merge shape : ", merge_fi_ic.shape[0])

1st merge shape :  921542

In [70]:
merge_fi_ic['GJAHR_x'] = (
    pd.to_numeric(merge_fi_ic['GJAHR_x'], errors='coerce')  # Convert to numeric, set invalid to NaN
    .astype('Int64')                                  # Convert to nullable integers
    .astype('string')    )

In [71]:
# merge_fi_ic['combined_suppl_no'] = merge_fi_ic['suppl_no'].fillna(
#     merge_fi_ic['LIFNR'])

In [72]:
# merge_fi_ic['combined_doc_no'] = merge_fi_ic['BELNR']

In [73]:
# merge_fi_ic['combined_inv_no'] = merge_fi_ic['XBLNR'].fillna(
#     merge_fi_ic['RENR'])

In [74]:
merged_df = merge_fi_ic.merge(sftp_df, left_on=["suppl_no", "BELNR", "XBLNR", "fin_year_FI"],
                                      right_on=["Supplier number (Sales Line)", "Document number", "Invoice number",
                                                "SFTP_bus_year"],
                                      how="outer")
print("2nd merge shape : ", merged_df.shape[0])

2nd merge shape :  935534

In [75]:
split_columns = merged_df['ARKTX'].str.split('#', expand=True)

merged_df['Business Year SFTP'] = split_columns[3].apply(
    lambda x: str(x) if pd.notnull(x) and x.isdigit() else pd.NA
).astype('string')

merged_df['Line Item No. SFTP'] = split_columns[4].apply(
    lambda x: str(x) if pd.notnull(x) and x.isdigit() else pd.NA
).astype('string')

In [76]:
merged_df['Doc no. combined'] = merged_df['BELNR'].fillna(merged_df['Document number'])

# Partial paid invoices merge

In [77]:
partial_paid_df['SFTP_bus_year'] = partial_paid_df['SFTP_bus_year'].astype('Int64')

/var/tmp/ipykernel_16203/1884940454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_paid_df['SFTP_bus_year'] = partial_paid_df['SFTP_bus_year'].astype('Int64')

In [78]:
pp_merged_df=merge_fi_ic.merge(partial_paid_df, left_on=["suppl_no", "BELNR", "XBLNR", "fin_year_FI"]
                                 , right_on=["Supplier number (Sales Line)", "Document number", "Invoice number", "SFTP_bus_year"]
                                 , how="right")
print("pp merge shape : ", pp_merged_df.shape[0])

pp merge shape :  2

# ARKTX

In [79]:
merged_df["year"] = merged_df.BLDAT.apply(
    lambda x: x.split('.')[2] if isinstance(x, str) and len(x.split('.')) > 2 else None)
merged_df["month"] = merged_df.BLDAT.apply(
    lambda x: x.split('.')[1] if isinstance(x, str) and len(x.split('.')) > 1 else None)
merged_df["day"] = merged_df.BLDAT.apply(
    lambda x: x.split('.')[0] if isinstance(x, str) and len(x.split('.')) > 0 else None)
merged_df['BUZEI'] = merged_df['BUZEI'].apply(lambda x: int(x) if pd.notna(x) else x).astype('Int64')


mask_empty_ARKTX = merged_df["ARKTX"].isna()

merged_df.loc[mask_empty_ARKTX, "ARKTX"] = merged_df[mask_empty_ARKTX].apply(
    lambda row: (
        f"{row['Document_type']}#{row['BELNR']}#{row['year']}{row['month']}{row['day']}#{row['year']}#00{row['BUZEI']}"
        if all(
            pd.notna([row['Document_type'], row['BELNR'], row['year'], row['month'], row['day'], row['BUZEI']]))
        else np.nan
    ),
    axis=1
)

# NET_DUE_DATE

In [80]:
merged_df['ZFBDT'] = pd.to_datetime(merged_df['ZFBDT'], format='%d.%m.%Y')
merged_df['ZBD1T'] = pd.to_numeric(merged_df['ZBD1T'], errors='coerce')
merged_df['ZBD2T'] = pd.to_numeric(merged_df['ZBD2T'], errors='coerce')

merged_df['NET_DUE_DATE'] = merged_df.apply(
    lambda row: row['ZFBDT'] + pd.Timedelta(
        days=row['ZBD1T'] if pd.notna(row['ZBD1T']) else (row['ZBD2T'] if pd.notna(row['ZBD2T']) else 0)),
    axis=1
)
merged_df['NET_DUE_DATE'] = merged_df['NET_DUE_DATE'].dt.strftime('%d.%m.%Y')

# IC Transaction File

In [81]:
def read_csv_from_gcs():
    
    bucket_name = "miag-m360-test-bucket"
    file_path = "ic_transaction_status_R.csv"
    encoding = 'windows-1252'
    dtype = {
    'TRANSACTION STATUS (ABGST)': 'str',
    'LBL - \nTRANSACTION STATUS (ABGST)': 'str',
    'VIPA \nTRANSACTION STATUS (ABGST)': 'str',
    "360 invoice status - MVP- Display on External 360": 'str',
    }

    # Initialize a GCS client
    client = storage.Client()

    # Get the bucket
    bucket = client.get_bucket(bucket_name)

    # Fetch the blob (file) from the bucket
    blob = bucket.blob(file_path)

    # Download the blob content as bytes
    data = blob.download_as_bytes()

    # Read the CSV into a Pandas DataFrame
    ic_transaction_df = pd.read_csv(io.BytesIO(data), encoding=encoding, dtype=dtype)

    return ic_transaction_df

ic_tran_status_df = read_csv_from_gcs()

In [82]:
ic_tran_status_df = ic_tran_status_df[
    ["TRANSACTION STATUS (ABGST)", "LBL - \nTRANSACTION STATUS (ABGST)", "VIPA \nTRANSACTION STATUS (ABGST)",
     "360 invoice status - MVP- Display on External 360"]]

ic_tran_status_df["ABGST"] = ic_tran_status_df["TRANSACTION STATUS (ABGST)"].fillna(
    ic_tran_status_df['LBL - \nTRANSACTION STATUS (ABGST)']).fillna(
    ic_tran_status_df["VIPA \nTRANSACTION STATUS (ABGST)"])

ic_tran_status_df = ic_tran_status_df[["ABGST", "360 invoice status - MVP- Display on External 360"]]
ic_tran_status_df['ABGST'] = ic_tran_status_df['ABGST'].str.zfill(4)
ic_tran_status_df['ABGST'] = ic_tran_status_df['ABGST'].astype('string')
abgst_status_dict = ic_tran_status_df.set_index('ABGST')['360 invoice status - MVP- Display on External 360'].to_dict()

In [83]:
len(abgst_status_dict)

197

# INVOICE_STATUS

In [84]:
merged_df['ABGST'] = merged_df['ABGST'].astype('string')

In [85]:
merged_df.loc[merged_df['Remittance advice number'].notna(), 'INVOICE_STATUS'] = "cleared-MIAG"
# Step 2: Populate 'Inv Stat' with "cleared-FI" for rows where 'Inv Stat' is null and 'AUGBL' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df['AUGBL'].notna(), 'INVOICE_STATUS'] = "cleared-FI"
# Step 3: Populate 'Inv Stat' with "Invoice Approval completed" for rows where 'Inv Stat' is null and 'BLDAT' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df[
    'BLDAT'].notna(), 'INVOICE_STATUS'] = "Invoice approval completed"
# Step 4: Populate 'Inv Stat' based on mapping from abgst_status_dict for rows where 'Inv Stat' is null and 'ABGST' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df['ABGST'].notna(), 'INVOICE_STATUS'] = merged_df[
    'ABGST'].map(abgst_status_dict)
# Step 5: Populate remaining 'Inv Stat' as "In progress" where 'Inv Stat' is still null
merged_df['INVOICE_STATUS'].fillna("Direct Entry to FI / New Status", inplace=True)

# GR Invoice Implementation

In [86]:
merged_df['Line Item No. SFTP'] = (
    merged_df['Line Item No. SFTP']
    .apply(lambda x: str(x).lstrip('0') if pd.notna(x) else x)  # Remove leading zeros if not NA
    .astype('Int64')  # Convert to Int64 type
)

merged_df['GJAHR_x'] = (
    pd.to_numeric(merged_df['GJAHR_x'], errors='coerce')  # Convert to numeric, set invalid to NaN
    .astype('Int64')  # Convert to nullable integers
    .astype('string')  # Convert integers to strings, keep <NA>
)

In [87]:
print("Datatypes before GR Invoice Implementation : ", merged_df[['Document_type', 'Document type', 'GJAHR_x', 'Business Year SFTP', 'BUZEI', 'Line Item No. SFTP', 'Amount_in_local_currency', 'Gross amount']].dtypes)

Datatypes before GR Invoice Implementation :  Document_type                       object
Document type                       object
GJAHR_x                     string[python]
Business Year SFTP          string[python]
BUZEI                                Int64
Line Item No. SFTP                   Int64
Amount_in_local_currency           float64
Gross amount                       float64
dtype: object

In [88]:
import time

import pandas as pd
import numpy as np

class GR_Invoice:

    def __init__(self):
        self.df_all_zeros = pd.DataFrame()
        self.df_non_zero = pd.DataFrame()

        self.df_group_len_1 = pd.DataFrame()
        self.df_group_len_2 = pd.DataFrame()
        self.df_group_len_3 = pd.DataFrame()

        self.both_cleared_or_one_progress_groups = pd.DataFrame()
        self.gr_invoice_records_groups = pd.DataFrame()
        self.not_cleared_miag_records_groups = pd.DataFrame()

        self.cleared_df = pd.DataFrame()
        self.other_df = pd.DataFrame()
        self.failed_doc_nos = []

        self.len_3_cleared_df = pd.DataFrame()
        self.len_3_other_df = pd.DataFrame()


    def gr_invoice(self, merged_df):
        print("Merged_df shape : ", merged_df.shape)
        self.df_all_zeros = merged_df[merged_df['Doc no. combined'] == '0000000000']
        self.df_non_zero = merged_df[merged_df['Doc no. combined'] != '0000000000']
        grouped = self.df_non_zero.groupby('Doc no. combined')
        self.df_group_len_2 = grouped.filter(lambda x: len(x) == 2)
        self.df_group_len_1 = grouped.filter(lambda x: len(x) == 1)
        self.df_group_len_3 = grouped.filter(lambda x: len(x) > 2)
        print("\n")
        print("All zeros : ", len(self.df_all_zeros))
        print("Length 1 : ", len(self.df_group_len_1))
        print("Length 2 : ", len(self.df_group_len_2))
        print("Length 3 : ", len(self.df_group_len_3))
        print("\n")
        print("Total : ", len(self.df_all_zeros)+len(self.df_group_len_1)+len(self.df_group_len_2)+len(self.df_group_len_3))

        gr_len2_start = time.time()
        gr_len2_concat = self.gr_length_2()
        gr_len2_end = time.time()
        print("GR Inv Len2 Time : ",gr_len2_end-gr_len2_start)
        gr_len3_concat = self.gr_length_3()
        gr_len3_end = time.time()
        print("GR Inv Len3 Time : ", gr_len3_end - gr_len2_end)

        merged_df = pd.concat([gr_len2_concat, gr_len3_concat, self.df_group_len_1, self.df_all_zeros], ignore_index=True)
        merged_df.reset_index(drop=True, inplace=True)
        print(merged_df.shape)
        return merged_df


    def gr_length_2(self):
        grouped = self.df_group_len_2.groupby('Doc no. combined')

        # Initialize lists for storing groups
        both_cleared_or_one_progress_groups = []
        gr_invoice_records_groups = []
        not_cleared_miag_records_groups = []

        count = 0
        # Iterate over groups with conditions
        for doc_no, group in grouped:
            count += 1
            # print(count)
            statuses = group['INVOICE_STATUS'].tolist()

            # Check conditions for categorizing groups
            if statuses == ['cleared-MIAG', 'cleared-MIAG'] or \
                    ('cleared-MIAG' in statuses and 'In progress' in statuses):
                both_cleared_or_one_progress_groups.append(group)
            elif 'cleared-MIAG' in statuses and \
                    any(status in ['cleared-FI', 'Invoice approval completed'] for status in statuses):
                gr_invoice_records_groups.append(group)
            elif all(status != 'cleared-MIAG' for status in statuses):
                not_cleared_miag_records_groups.append(group)

        # Concatenate the groups into DataFrames
        self.both_cleared_or_one_progress = pd.concat(both_cleared_or_one_progress_groups, ignore_index=True)
        self.gr_invoice_records = pd.concat(gr_invoice_records_groups, ignore_index=True)
        self.not_cleared_miag_records = pd.concat(not_cleared_miag_records_groups, ignore_index=True)

        print("\n")
        print("Length 2 : ", len(self.df_group_len_2))
        print("Both cleared or one progress : ", len(self.both_cleared_or_one_progress))
        print("GR Invoice Records : ", len(self.gr_invoice_records))
        print("not_cleared_miag_records ", len(self.not_cleared_miag_records))
        print("\n")
        print("Total : ", len(self.both_cleared_or_one_progress)+ len(self.gr_invoice_records)+ len(self.not_cleared_miag_records))

        if (len(self.gr_invoice_records) == 0):
            self.gr_invoice_records = pd.DataFrame(columns=self.df_group_len_2.columns)

        grouped = self.gr_invoice_records.groupby('Doc no. combined')

        # Initialize lists to store the rows based on INVOICE_STATUS
        cleared_records = []
        other_records = []

        # Iterate through each group
        for name, group in grouped:
            # Separate rows based on 'INVOICE_STATUS' value
            cleared_record = group[group['INVOICE_STATUS'] == 'cleared-MIAG']
            other_record = group[group['INVOICE_STATUS'] != 'cleared-MIAG']

            # Append to the lists if the record exists
            if not cleared_record.empty:
                cleared_records.append(
                    cleared_record.iloc[0])  # Assuming there's only one 'cleared-MIAG' record per group
            if not other_record.empty:
                other_records.append(
                    other_record.iloc[0])  # Assuming there's only one non-'cleared-MIAG' record per group

        # Convert lists to DataFrames if needed
        self.cleared_df = pd.DataFrame(cleared_records)
        self.other_df = pd.DataFrame(other_records)

        print("\n")
        print("GR Invoice Records : ", len(self.gr_invoice_records))
        print("Cleared df : ", len(self.cleared_df))
        print("Non Cleared df : ", len(self.other_df))
        print("\n")

        if len(self.cleared_df) == 0:
            self.cleared_df = pd.DataFrame(columns=self.gr_invoice_records.columns)

        if len(self.other_df) == 0:
            self.other_df = pd.DataFrame(columns=self.gr_invoice_records.columns)

        # Loop through each row in cleared_df and perform validations
        for index, row1 in self.cleared_df.iterrows():
            # Get the corresponding row in other_df based on 'Doc no. combined'
            row2 = self.other_df[self.other_df['Doc no. combined'] == row1['Doc no. combined']]

            # Proceed only if there is exactly one matching row in other_df
            if len(row2) == 1:
                row2 = row2.iloc[0]

                # Perform validation checks
                if (
                        pd.notnull(row1['Line Item No. SFTP']) and pd.notnull(row2['BUZEI']) and row1[
                    'Line Item No. SFTP'] == row2['BUZEI'] and
                        pd.notnull(row1['Document type']) and pd.notnull(row2['Document_type']) and row1[
                    'Document type'] == row2['Document_type'] and
                        pd.notnull(row1['Business Year SFTP']) and pd.notnull(row2['GJAHR_x']) and row1[
                    'Business Year SFTP'] == row2['GJAHR_x'] and
                        pd.notnull(row1['Gross amount']) and pd.notnull(row2['Amount_in_local_currency']) and row1[
                    'Gross amount'] == row2['Amount_in_local_currency']
                ):
                    self.cleared_df.at[index, 'NET_DUE_DATE'] = row2['NET_DUE_DATE']

                    # Check if 'Store' column in row1 is not empty
                    if pd.notnull(row1['Store']) and row1['Store'] != '':
                        # Directly remove row2 from other_df
                        self.other_df = self.other_df.drop(row2.name)
                    else:
                        # Copy 'store_or_dc' value from row2 to 'Store' column in row1
                        self.cleared_df.at[index, 'Store'] = row2['store_or_dc']
                        # Remove row2 from other_df
                        self.other_df = self.other_df.drop(row2.name)
                else:
                    # If validation fails, add the 'Doc no. combined' to the failed list
                    self.failed_doc_nos.append(row1['Doc no. combined'])
            # else:
            #     # If no match or multiple matches, add to failed list
            #     failed_doc_nos.append(row1['Doc no. combined'])

        # Output the updated cleared_df, other_df, and the failed list
        self.cleared_df.reset_index(drop=True, inplace=True)
        self.other_df.reset_index(drop=True, inplace=True)

        print("Cleared df : ", len(self.cleared_df))
        print("Non Cleared df : ", len(self.other_df))
        print("Failed docs : ", len(self.failed_doc_nos))
        print("Examples of Failed docs : ", self.failed_doc_nos[0:20])

        gr_len2_concat = pd.concat([self.cleared_df, self.other_df, self.not_cleared_miag_records, self.both_cleared_or_one_progress], ignore_index=True)
        gr_len2_concat.reset_index(drop=True, inplace=True)
        return gr_len2_concat

    def gr_length_3(self):
        self.len_3_cleared_df = self.df_group_len_3[self.df_group_len_3['INVOICE_STATUS'] == 'cleared-MIAG'].copy()
        self.len_3_other_df = self.df_group_len_3[self.df_group_len_3['INVOICE_STATUS'] != 'cleared-MIAG'].copy()

        rows_to_delete = []
        for index_other, row2 in self.len_3_other_df.iterrows():
            # Find matching row in len_3_cleared_df
            match = self.len_3_cleared_df[
                (self.len_3_cleared_df['Line Item No. SFTP'] == row2['BUZEI']) &
                (self.len_3_cleared_df['Document type'] == row2['Document_type']) &
                (self.len_3_cleared_df['Business Year SFTP'] == row2['GJAHR_x']) &
                (self.len_3_cleared_df['Gross amount'] == row2['Amount_in_local_currency']) &
                (self.len_3_cleared_df['Doc no. combined'] == row2['Doc no. combined'])
                ]

            if not match.empty:
                # Take the first matched row (assuming only one match is expected)
                row1 = match.iloc[0]

                self.len_3_cleared_df.loc[match.index[0], 'NET_DUE_DATE'] = row2['NET_DUE_DATE']

                # Check the Store column in row1
                if pd.isna(row1['Store']):
                    # Check the store_or_dc column in row2
                    if not pd.isna(row2.get('store_or_dc')):
                        self.len_3_cleared_df.loc[match.index[0], 'Store'] = row2['store_or_dc']

                # Mark the row2 for deletion
                rows_to_delete.append(index_other)

        # Delete rows from len_3_other_df that were processed
        self.len_3_other_df.drop(index=rows_to_delete, inplace=True)

        print("Length 3 : ", len(self.df_group_len_3))
        print("len_3_cleared_df : ", len(self.len_3_cleared_df))
        print("len_3_other_df : ", len(self.len_3_other_df))

        gr_len3_concat = pd.concat([self.len_3_cleared_df, self.len_3_other_df], ignore_index=True)
        gr_len3_concat.reset_index(drop=True, inplace=True)
        return gr_len3_concat

In [89]:
gr_invoice = GR_Invoice()

In [90]:
merged_df.shape

(935534, 80)

In [91]:
merged_df = gr_invoice.gr_invoice(merged_df)

Merged_df shape :  (935534, 80)


All zeros :  2817
Length 1 :  435606
Length 2 :  323980
Length 3 :  173131


Total :  935534


Length 2 :  323980
Both cleared or one progress :  5342
GR Invoice Records :  125574
not_cleared_miag_records  193064


Total :  323980


GR Invoice Records :  125574
Cleared df :  62787
Non Cleared df :  62787


Cleared df :  62787
Non Cleared df :  56651
Failed docs :  56651
Examples of Failed docs :  ['0810000000', '0810000010', '0810000011', '0810000012', '0810000013', '0810000023', '0810000029', '0810000031', '0810000050', '0810000051', '0810000055', '0810000071', '0810000077', '0810000092', '0810000100', '0810000101', '0810000102', '0810000105', '0810000123', '0810000133']
GR Inv Len2 Time :  1454.1691045761108
Length 3 :  173131
len_3_cleared_df :  41094
len_3_other_df :  128215
GR Inv Len3 Time :  1737.9273700714111
(925576, 80)

In [92]:
unique_pairs = merged_df.drop_duplicates(subset=['Supplier number (Sales Line)', 'Supplier number (MIAG)'])
unique_pairs = unique_pairs.drop_duplicates(subset=['Supplier number (Sales Line)'], keep='first')
doc_to_type = dict(zip(unique_pairs['Supplier number (Sales Line)'], unique_pairs['Supplier number (MIAG)']))

In [93]:
merged_df.columns

Index(['MANDT', 'Document_type', 'document_type_desc', 'GJAHR_x', 'BUKRS',
       'GSBER', 'PRCTR', 'store_or_dc', 'KOSTL', 'month_in_fin_year', 'BELNR',
       'XBLNR', 'AUGBL', 'AUGDT', 'ZFBDT', 'ZBD1T', 'ZBD2T', 'NETDT', 'BUZEI',
       'altkt', 'hkont', 'suppl_no', 'BLDAT', 'BUDAT', 'CPUDT',
       'partition_date', 'dana_ingestion_date', 'shkzg',
       'Amount_in_local_currency', 'Amount_in_document_currency',
       'Tax_in_local_currency', 'Tax_in_document_currency', 'WAERS_x',
       'Batch_Input_session_name', 'sgtxt', 'fin_year_FI', 'LIFNR', 'RENR',
       'REDAT', 'LFSNR', 'GEBRF', 'GSMWB', 'GSMWF', 'WAERS_y', 'WENUM',
       'RGDAT', 'ABGST', 'AUFNR', 'VORGN', 'GJAHR_y', 'WEDAT', 'DEBNOTNO',
       'fin_year_IC', 'Contract area', 'Supplier number (Sales Line)',
       'Supplier number (MIAG)', 'Supplier name', 'VAT number',
       'Document number', 'Invoice number', 'Document type', 'Document date',
       'Remittance advice number', 'Value date', 'Currency', 'Gross amount',
       'Description', 'Contract indicator', 'Store', 'Company code', 'ARKTX',
       'SFTP_bus_year', 'Business Year SFTP', 'Line Item No. SFTP',
       'Doc no. combined', 'year', 'month', 'day', 'NET_DUE_DATE',
       'INVOICE_STATUS'],
      dtype='object')

In [94]:
merged_df.shape

(925576, 80)

In [95]:
merged_copy_df = merged_df.copy()

# LOADFILE

In [234]:
loadfile_df = pd.DataFrame([])

In [235]:
company_code = 3142
loadfile_df['COMPANY_CODE'] = company_code



loadfile_df['SUPPLIER_NO'] = merged_df['Supplier number (Sales Line)'].fillna(
    merged_df['suppl_no']
).fillna(
    merged_df['LIFNR']
)


loadfile_df['MIAG_SUPPLIER_NO'] = merged_df['Supplier number (MIAG)']
loadfile_df['MIAG_SUPPLIER_NO'] = loadfile_df['MIAG_SUPPLIER_NO'].fillna(
    loadfile_df['SUPPLIER_NO'].map(doc_to_type))



loadfile_df['ORDER_NO'] = merged_df['AUFNR']



loadfile_df['DOC_TYPE'] = merged_df['Document type'].where(merged_df['Document type'].notna(),
                                                           merged_df['Document_type'])



loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].where(merged_df['Invoice number'].notna(),
                                                              merged_df['XBLNR'])
loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].fillna(
    merged_df['XBLNR']
).fillna(
    merged_df['RENR']
)



loadfile_df['INVOICE_DATE'] = merged_df['Document date'].fillna(merged_df['REDAT'])



loadfile_df['DELIVERY_NOTE_NO'] = merged_df['LFSNR']


merged_df['GEBRF'] = pd.to_numeric(merged_df['GEBRF'], errors='coerce')
merged_df['GSMWF'] = pd.to_numeric(merged_df['GSMWF'], errors='coerce')

loadfile_df['TOTAL_AMT_DC'] = merged_df['Gross amount'].fillna(
    merged_df['Amount_in_local_currency']
).fillna(
    merged_df['GEBRF']
).astype('float64')


loadfile_df['TOTAL_VAT_DC'] = merged_df['GSMWF'].astype('float64')

company_code = 3142
loadfile_df['COMPANY_CODE'] = company_code

country_currency_dict = {3142: 'TRY'}
loadfile_df['CURRENCY'] = loadfile_df['COMPANY_CODE'].map(country_currency_dict)

condition = (loadfile_df['DOC_TYPE'] == 'MV')

loadfile_df['PRE_FINANCE_DATE'] = np.where(condition, merged_df['Value date'], '')

loadfile_df['GOODS_RECEIPT_NO'] = merged_df['WENUM']

loadfile_df['GOODS_RECEIPT_DATE'] = merged_df['WEDAT']

loadfile_df['INVOICE_ENTRY_DATE'] = merged_df['RGDAT'].where(merged_df['RGDAT'].notna(), merged_df['BLDAT'])

loadfile_df['INVOICE_STATUS'] = merged_df['INVOICE_STATUS']

loadfile_df['INVOICE_STATUS_INTERNAL'] = merged_df['ABGST']

loadfile_df['NET_DUE_DATE'] = merged_df['NET_DUE_DATE']

loadfile_df['DEBIT_NOTE_NO'] = merged_df['DEBNOTNO']

loadfile_df['REMITTANCE_ADVICE_NO'] = np.where(
    merged_df['INVOICE_STATUS'] == 'cleared-MIAG',
    merged_df['Remittance advice number'],
    '')

loadfile_df['CLEARING_DATE'] = merged_df['Value date'].where(merged_df['Value date'].notna(),
                                                             merged_df['AUGDT'])

loadfile_df['DOCUMENT_NO'] = merged_df['BELNR'].where(merged_df['BELNR'].notna(), merged_df['Document number'])

loadfile_df['STORE_NO'] = merged_df['Store'].fillna(merged_df['store_or_dc'])

loadfile_df['ARKTX'] = merged_df['ARKTX']

loadfile_df['Description'] = merged_df['Description']

loadfile_df['AUGBL'] = merged_df['AUGBL']

loadfile_df['BLDAT'] = merged_df['BLDAT']

loadfile_df['Bus_year'] = merged_df['SFTP_bus_year'].fillna(merged_df['fin_year_FI']).fillna(
    merged_df['fin_year_IC']
)

loadfile_df['AUGDT'] = merged_df['AUGDT']

In [236]:
import datetime
current_date = datetime.date.today()
formatted_current_date = current_date.strftime("%d.%m.%Y")
loadfile_df['MATCHING_DATE'] = formatted_current_date
loadfile_df['MATCH_STATUS'] = 'No Matching Requested'
loadfile_df['SYNC_DATE'] = formatted_current_date
loadfile_df['SYNC_STATUS'] = '1'
loadfile_df = loadfile_df.fillna('')
loadfile_df['INVOICE_NO'].replace('nan', '', inplace=True)
loadfile_df['DOCUMENT_NO'] = loadfile_df['DOCUMENT_NO'].replace('0000000000', '')
loadfile_df['DEBIT_NOTE_NO'] = loadfile_df['DEBIT_NOTE_NO'].apply(
    lambda x: str(x).strip() if str(x).strip() else '')
loadfile_df = loadfile_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [237]:
loadfile_df['BLDAT']

0         25.09.2024
1         25.09.2024
2         25.09.2024
3         25.09.2024
4         25.09.2024
             ...
925571
925572
925573
925574
925575
Name: BLDAT, Length: 925576, dtype: object

In [238]:
loadfile_df.shape

(925576, 33)

In [239]:
only_suppl_data_record_count = ((loadfile_df['INVOICE_STATUS'] == 'Direct Entry to FI / New Status') & 
         (loadfile_df['DOCUMENT_NO'] == '') & 
         (loadfile_df['INVOICE_NO'] == '')).sum()
print(only_suppl_data_record_count)

8

In [240]:
loadfile_df = loadfile_df[~((loadfile_df['INVOICE_STATUS'] == 'Direct Entry to FI / New Status') & 
          (loadfile_df['DOCUMENT_NO'] == '') & 
          (loadfile_df['INVOICE_NO'] == ''))]

In [241]:
loadfile_df.shape

(925568, 33)

In [242]:
loadfile_copy_2 = loadfile_df.copy()
loadfile_copy_3 = loadfile_df.copy()
# loadfile_df = loadfile_copy_2.copy()

In [243]:
loadfile_df.shape

(925568, 33)

In [244]:
loadfile_copy_2.shape

(925568, 33)

In [245]:
loadfile_mv_df_1 = loadfile_df[loadfile_df['DOC_TYPE']=='MV']

In [246]:
loadfile_non_mv_df_1 = loadfile_df[loadfile_df['DOC_TYPE']!='MV']

In [247]:
loadfile_mv_df_1.shape

(721, 33)

In [248]:
loadfile_non_mv_df_1.shape

(924847, 33)

In [249]:
# # loadfile_df['ARKTX_YEAR'] = loadfile_df['ARKTX'].str.split('#').str[3]
# # loadfile_mv_df['ARKTX_YEAR'] = loadfile_mv_df['ARKTX'].str.split('#').str[3]

# # Perform a merge to combine relevant rows from both DataFrames
# merged_mv_df = loadfile_mv_df_1.merge(
#     loadfile_non_mv_df_1,
#     how='left',
#     left_on=['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'],
#     right_on=['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'],
#     suffixes=('_mv', '_loadfile')
# )

# # Group by relevant columns from loadfile_mv_df
# grouped = merged_mv_df.groupby(['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'])

# # Build the metadata DataFrame using aggregation
# mv_metadata_df = grouped.agg(
#     Document_Type_Count=('DOC_TYPE_loadfile', 'count'),
#     Document_Types=('DOC_TYPE_loadfile', lambda x: list(x.unique())),
#     Desc_Count=('Description_loadfile', 'count'),
#     Desc_Types=('Description_loadfile', lambda x: list(x.unique())),
# ).reset_index()

# # # Drop the extra columns from the original DataFrames
# # loadfile_df.drop(columns=['ARKTX_YEAR'], inplace=True)
# # loadfile_mv_df.drop(columns=['ARKTX_YEAR'], inplace=True)

In [250]:
merged_mv_df = pd.merge(
    loadfile_mv_df_1,
    loadfile_non_mv_df_1,
    on=['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'],
    how='left',
    suffixes=('_x', '_y')  # Explicitly naming suffixes for clarity
)

# Ensure 'Document type' columns are handled properly
merged_mv_df['Combined_Document_types'] = merged_mv_df[['DOC_TYPE_x', 'DOC_TYPE_y']].apply(
    lambda row: [val for val in row if pd.notna(val)], axis=1
)
merged_mv_df['Combined_RAN'] = merged_mv_df[['REMITTANCE_ADVICE_NO_x', 'REMITTANCE_ADVICE_NO_y']].apply(
    lambda row: [val for val in row if pd.notna(val)], axis=1
)
merged_mv_df['Combined_Description'] = merged_mv_df[['Description_x', 'Description_y']].apply(
    lambda row: [val for val in row if pd.notna(val)], axis=1        
)

# Group by the relevant columns in sftp_mv_df
grouped = merged_mv_df.groupby(
    ['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year']
)

# Aggregate the results
mv_metadata_df = grouped.agg(
    Document_Count=('Combined_Document_types', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
    Document_types=('Combined_Document_types', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique document types
    RAN_count=('Combined_RAN', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
    RAN_list=('Combined_RAN', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Flattened unique list ignoring NaN
    Desc_count=('Combined_Description', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
    Desc_list=('Combined_Description', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item))))  # Flattened unique list ignoring NaN
).reset_index()

In [251]:
# merged_mv_df = loadfile_mv_df_1.merge(
#     loadfile_non_mv_df_1,
#     how='inner',
#     left_on=['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'],
#     right_on=['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'],
#     suffixes=('_x', '_y')
# )

# # Ensure 'Document type' columns are handled properly
# merged_mv_df['Combined_Document_types'] = merged_mv_df[['DOC_TYPE_x', 'DOC_TYPE_y']].apply(
#     lambda row: [val for val in row if pd.notna(val)], axis=1
# )
# merged_mv_df['Combined_RAN'] = merged_mv_df[['REMITTANCE_ADVICE_NO_x', 'REMITTANCE_ADVICE_NO_y']].apply(
#     lambda row: [val for val in row if pd.notna(val)], axis=1
# )
# merged_mv_df['Combined_Description'] = merged_mv_df[['Description_x', 'Description_y']].apply(
#     lambda row: [val for val in row if pd.notna(val)], axis=1
# # Group by the relevant columns in sftp_mv_df
# )
# grouped = merged_mv_df.groupby(['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year'])


# # Aggregate the results
# mv_metadata_df = grouped.agg(
#     Document_Count=('Combined_Document_types', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
#     Document_types=('Combined_Document_types', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique document types
#     RAN_count=('Combined_RAN', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
#     RAN_list=('Combined_RAN', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Flattened unique list ignoring NaN
#     Desc_count=('Combined_Description', lambda x: len(set(item for sublist in x for item in sublist if pd.notna(item)))),  # Unique count ignoring NaN
#     Desc_list=('Combined_Description', lambda x: list(set(item for sublist in x for item in sublist if pd.notna(item))))  # Flattened unique list ignoring NaN
# ).reset_index()

In [252]:
mv_metadata_df.shape

(721, 10)

In [253]:
#----------

In [254]:
loadfile_mv_df_1.shape

(721, 33)

In [255]:
len(mv_metadata_df)

721

In [256]:
len(mv_metadata_df[mv_metadata_df['Document_Count']==3])

0

In [257]:
len(mv_metadata_df[mv_metadata_df['Document_Count']==2])

659

In [258]:
len(mv_metadata_df[mv_metadata_df['Document_Count']==1])

62

In [259]:
len(mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == ''))])

60

In [260]:
len(mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (~(mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == '')))])

2

In [261]:
mv_metadata_df[mv_metadata_df['Document_Count']==3]

Empty DataFrame
Columns: [SUPPLIER_NO, DOCUMENT_NO, INVOICE_NO, Bus_year, Document_Count, Document_types, RAN_count, RAN_list, Desc_count, Desc_list]
Index: []

In [262]:
#-------------

In [263]:
mv_metadata_df.columns

Index(['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year',
       'Document_Count', 'Document_types', 'RAN_count', 'RAN_list',
       'Desc_count', 'Desc_list'],
      dtype='object')

In [264]:
print('MV Metadata length : ', len(mv_metadata_df))
print("Error records : ", len(mv_metadata_df[mv_metadata_df['Document_Count']==3]))
print('no. of both present (cleared & pre-financed) : ', len(mv_metadata_df[mv_metadata_df['Document_Count']==2]))
print('no. of once present (pre-financed) : ', len(mv_metadata_df[mv_metadata_df['Document_Count']==1]))
print("\t\t partial paid records : ", len(mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (~(mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == '')))]))
print("\t\t not partial paid records : ", len(mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == ''))]))
print('Final records should be : ', len(loadfile_df)-len(mv_metadata_df[mv_metadata_df['Document_Count']==2]))

MV Metadata length :  721
Error records :  0
no. of both present (cleared & pre-financed) :  659
no. of once present (pre-financed) :  62
		 partial paid records :  2
		 not partial paid records :  60
Final records should be :  924909

In [265]:
# Pre-process the dataframes to avoid repeated operations
# Convert columns to appropriate dtypes for faster comparison
for df in [mv_metadata_df, loadfile_copy_2, pp_merged_df]:
    for col in ['SUPPLIER_NO', 'DOCUMENT_NO', 'INVOICE_NO', 'Bus_year']:
        if col in df.columns:
            df[col] = df[col].astype(str)

# Create a lookup key column for faster filtering
loadfile_copy_2['lookup_key'] = loadfile_copy_2.apply(
    lambda x: f"{x['SUPPLIER_NO']}_{x['DOCUMENT_NO']}_{x['INVOICE_NO']}_{x['Bus_year']}", 
    axis=1
)
pp_merged_df['lookup_key'] = pp_merged_df.apply(
    lambda x: f"{x['suppl_no']}_{x['BELNR']}_{x['XBLNR']}_{x['fin_year_FI']}", 
    axis=1
)

counts = {'count1': 0, 'count2': 0, 'count3': 0}

def process_single_record(filtered_df, mv_row):
    """Process a single record and return updates"""
    idx = filtered_df.index[0]
    row = filtered_df.iloc[0]
    
    if row['DOC_TYPE'] == 'MV' and row['Description'] == 'pre-financed' and row['REMITTANCE_ADVICE_NO'] == '':
        counts['count2'] += 1
        return {'index': idx, 'updates': {'INVOICE_STATUS': 'pre-financed'}}
    
    if row['DOC_TYPE'] == 'MV' and row['Description'] == 'open' and row['REMITTANCE_ADVICE_NO'] == '':
        # No updates needed, just return None
        return None
    
    counts['count3'] += 1
    
    # Determine INVOICE_STATUS
    if row['AUGBL']:
        new_status = 'cleared-FI'
    elif row['BLDAT']:
        new_status = 'Invoice approval completed'
    elif row['INVOICE_STATUS_INTERNAL']:
        new_status = abgst_status_dict.get(row['INVOICE_STATUS_INTERNAL'], 
                                         'Direct Entry to FI / New Status')
    else:
        new_status = 'Direct Entry to FI / New Status'
    
    # Get corresponding merged data
    lookup_key = f"{mv_row['SUPPLIER_NO']}_{mv_row['DOCUMENT_NO']}_{mv_row['INVOICE_NO']}_{mv_row['Bus_year']}"
    merged_data = pp_merged_df[pp_merged_df['lookup_key'] == lookup_key]
    
    if not merged_data.empty:
        merged_row = merged_data.iloc[0]
        new_value = ''
        if pd.notna(merged_row['BLDAT']):
            day, month, year = merged_row['BLDAT'].split('.')
            new_value = f"{merged_row['Document_type']}#{merged_row['BELNR']}#{year}{month}{day}#{year}#00{merged_row['BUZEI']}"
        
        updates = {
            'INVOICE_STATUS': new_status,
            'DOC_TYPE': merged_row['Document_type'],
            'STORE_NO': merged_row['store_or_dc'],
            'ARKTX': new_value
        }
        return {'index': idx, 'updates': updates}
    
    return {'index': idx, 'updates': {'INVOICE_STATUS': new_status}}

# Create a list to store all updates
updates = []

# Process records in batches
batch_size = 1000
for batch_start in range(0, len(mv_metadata_df), batch_size):
    batch_end = min(batch_start + batch_size, len(mv_metadata_df))
    batch = mv_metadata_df.iloc[batch_start:batch_end]
    
    for _, mv_row in batch.iterrows():
        lookup_key = f"{mv_row['SUPPLIER_NO']}_{mv_row['DOCUMENT_NO']}_{mv_row['INVOICE_NO']}_{mv_row['Bus_year']}"
        filtered_df = loadfile_copy_2[loadfile_copy_2['lookup_key'] == lookup_key]
            
        if len(filtered_df) == 2:
            counts['count1'] += 1
            if filtered_df['INVOICE_STATUS'].isin(['cleared-MIAG', 'cleared-FI', 'Invoice approval completed']).all():
                mv_rows = filtered_df[filtered_df['DOC_TYPE'] == 'MV']
                non_mv_rows = filtered_df[filtered_df['DOC_TYPE'] != 'MV']
                
                if (len(mv_rows) == 1 and len(non_mv_rows) == 1 and 
                    mv_rows.iloc[0]['Description'] == 'pre-financed'):
                    updates.append({
                        'index': non_mv_rows.index[0],
                        'updates': {'PRE_FINANCE_DATE': mv_rows.iloc[0]['PRE_FINANCE_DATE']}
                    })
                updates.append({'index': mv_rows.index[0], 'delete': True})
                
        elif len(filtered_df) == 1:
            update = process_single_record(filtered_df, mv_row)
            if update:
                updates.append(update)

# Apply all updates in bulk
indices_to_drop = []
update_dict = {}

for update in updates:
    if update.get('delete'):
        indices_to_drop.append(update['index'])
    else:
        for column, value in update['updates'].items():
            if column not in update_dict:
                update_dict[column] = {}
            update_dict[column][update['index']] = value

# Apply updates using loc
for column, values in update_dict.items():
    loadfile_copy_2.loc[list(values.keys()), column] = list(values.values())

# Drop rows marked for deletion
if indices_to_drop:
    loadfile_copy_2.drop(index=indices_to_drop, inplace=True)

In [266]:
print(counts)

{'count1': 659, 'count2': 60, 'count3': 2}

In [267]:
# Index(['MANDT', 'Document_type', 'document_type_desc', 'GJAHR_x', 'BUKRS',
#        'GSBER', 'PRCTR', 'store_or_dc', 'KOSTL', 'month_in_fin_year', 'BELNR',
#        'XBLNR', 'AUGBL', 'AUGDT', 'ZFBDT', 'ZBD1T', 'ZBD2T', 'NETDT', 'BUZEI',
#        'altkt', 'hkont', 'suppl_no', 'BLDAT', 'BUDAT', 'CPUDT',
#        'partition_date', 'dana_ingestion_date', 'shkzg',
#        'Amount_in_local_currency', 'Amount_in_document_currency',
#        'Tax_in_local_currency', 'Tax_in_document_currency', 'WAERS_x',
#        'Batch_Input_session_name', 'sgtxt', 'fin_year_FI', 'LIFNR', 'RENR',
#        'REDAT', 'LFSNR', 'GEBRF', 'GSMWB', 'GSMWF', 'WAERS_y', 'WENUM',
#        'RGDAT', 'ABGST', 'AUFNR', 'VORGN', 'GJAHR_y', 'WEDAT', 'DEBNOTNO',
#        'fin_year_IC', 'combined_suppl_no', 'combined_doc_no',
#        'combined_inv_no', 'Supplier number (Sales Line)', 'Document number',
#        'Invoice number', 'Document_Count', 'Document_types', 'RAN_count',
#        'RAN_list'],
#       dtype='object')

In [268]:
print('Final Loadfile length : ', len(loadfile_copy_2))

Final Loadfile length :  924910

In [269]:
loadfile_copy_2.columns

Index(['COMPANY_CODE', 'SUPPLIER_NO', 'MIAG_SUPPLIER_NO', 'ORDER_NO',
       'DOC_TYPE', 'INVOICE_NO', 'INVOICE_DATE', 'DELIVERY_NOTE_NO',
       'TOTAL_AMT_DC', 'TOTAL_VAT_DC', 'CURRENCY', 'PRE_FINANCE_DATE',
       'GOODS_RECEIPT_NO', 'GOODS_RECEIPT_DATE', 'INVOICE_ENTRY_DATE',
       'INVOICE_STATUS', 'INVOICE_STATUS_INTERNAL', 'NET_DUE_DATE',
       'DEBIT_NOTE_NO', 'REMITTANCE_ADVICE_NO', 'CLEARING_DATE', 'DOCUMENT_NO',
       'STORE_NO', 'ARKTX', 'Description', 'AUGBL', 'BLDAT', 'Bus_year',
       'AUGDT', 'MATCHING_DATE', 'MATCH_STATUS', 'SYNC_DATE', 'SYNC_STATUS',
       'lookup_key'],
      dtype='object')

In [270]:
loadfile_copy_2.dtypes

COMPANY_CODE         int64
SUPPLIER_NO         object
MIAG_SUPPLIER_NO    object
ORDER_NO            object
DOC_TYPE            object
                     ...
MATCHING_DATE       object
MATCH_STATUS        object
SYNC_DATE           object
SYNC_STATUS         object
lookup_key          object
Length: 34, dtype: object

## Removing old-cleared FI Invoices

In [271]:
loadfile_copy_2['AUGDT'] = pd.to_datetime(loadfile_copy_2['AUGDT'], format='%d.%m.%Y', errors='coerce')

# Filter rows where AUGBL is not null and AUGDT is less than 01.08.2021
old_FI_df = loadfile_copy_2[(loadfile_copy_2['INVOICE_STATUS']=='cleared-FI') & (loadfile_copy_2['AUGBL']!='') & (loadfile_copy_2['AUGDT'] < '2023-01-01')]

In [272]:
len(old_FI_df)

494529

In [273]:
new_loadfile_df = loadfile_copy_2[~((loadfile_copy_2['INVOICE_STATUS']=='cleared-FI') & (loadfile_copy_2['AUGBL']!='') & (loadfile_copy_2['AUGDT'] < '2023-01-01'))]

In [274]:
new_loadfile_df.columns

Index(['COMPANY_CODE', 'SUPPLIER_NO', 'MIAG_SUPPLIER_NO', 'ORDER_NO',
       'DOC_TYPE', 'INVOICE_NO', 'INVOICE_DATE', 'DELIVERY_NOTE_NO',
       'TOTAL_AMT_DC', 'TOTAL_VAT_DC', 'CURRENCY', 'PRE_FINANCE_DATE',
       'GOODS_RECEIPT_NO', 'GOODS_RECEIPT_DATE', 'INVOICE_ENTRY_DATE',
       'INVOICE_STATUS', 'INVOICE_STATUS_INTERNAL', 'NET_DUE_DATE',
       'DEBIT_NOTE_NO', 'REMITTANCE_ADVICE_NO', 'CLEARING_DATE', 'DOCUMENT_NO',
       'STORE_NO', 'ARKTX', 'Description', 'AUGBL', 'BLDAT', 'Bus_year',
       'AUGDT', 'MATCHING_DATE', 'MATCH_STATUS', 'SYNC_DATE', 'SYNC_STATUS',
       'lookup_key'],
      dtype='object')

In [275]:
new_loadfile_df['INVOICE_STATUS'].unique()

array(['cleared-MIAG', 'Invoice approval completed', 'cleared-FI',
       'pre-financed', 'In progress', 'Direct Entry to FI / New Status'],
      dtype=object)

In [276]:
new_loadfile_df.shape

(430381, 34)

In [277]:
new_loadfile_df['AUGDT'] = pd.to_datetime(new_loadfile_df['AUGDT'])

# Convert to desired format
new_loadfile_df['AUGDT'] = new_loadfile_df['AUGDT'].dt.strftime('%d.%m.%Y')

/var/tmp/ipykernel_16203/3868718509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_loadfile_df['AUGDT'] = pd.to_datetime(new_loadfile_df['AUGDT'])
/var/tmp/ipykernel_16203/3868718509.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_loadfile_df['AUGDT'] = new_loadfile_df['AUGDT'].dt.strftime('%d.%m.%Y')

In [278]:
new_loadfile_df.columns

Index(['COMPANY_CODE', 'SUPPLIER_NO', 'MIAG_SUPPLIER_NO', 'ORDER_NO',
       'DOC_TYPE', 'INVOICE_NO', 'INVOICE_DATE', 'DELIVERY_NOTE_NO',
       'TOTAL_AMT_DC', 'TOTAL_VAT_DC', 'CURRENCY', 'PRE_FINANCE_DATE',
       'GOODS_RECEIPT_NO', 'GOODS_RECEIPT_DATE', 'INVOICE_ENTRY_DATE',
       'INVOICE_STATUS', 'INVOICE_STATUS_INTERNAL', 'NET_DUE_DATE',
       'DEBIT_NOTE_NO', 'REMITTANCE_ADVICE_NO', 'CLEARING_DATE', 'DOCUMENT_NO',
       'STORE_NO', 'ARKTX', 'Description', 'AUGBL', 'BLDAT', 'Bus_year',
       'AUGDT', 'MATCHING_DATE', 'MATCH_STATUS', 'SYNC_DATE', 'SYNC_STATUS',
       'lookup_key'],
      dtype='object')

In [279]:
new_loadfile_df.shape

(430381, 34)

In [280]:
# new_loadfile_df = new_loadfile_df_copy2.copy()

In [281]:
new_loadfile_df_copy2 = new_loadfile_df.copy()

In [282]:
a+b+z

NameError: name 'a' is not defined

In [ ]:
diff_supp_duplicates_groups = new_loadfile_df.groupby(["INVOICE_NO", "TOTAL_AMT_DC", "Bus_year"]).filter(lambda x: (len(x) == 2) and (x["SUPPLIER_NO"].nunique() > 1))

print("1 : ", diff_supp_duplicates_groups.groupby(['INVOICE_NO', 'TOTAL_AMT_DC', 'Bus_year']).ngroups)

invoice_numbers_diff_supp = diff_supp_duplicates_groups["INVOICE_NO"].unique().tolist()

# Step 2: Check if one has 'In Progress' and the other has a different status
def should_delete(group):
    has_in_progress = (group["INVOICE_STATUS"] == "In progress").sum()  # Count "In Progress" rows
    has_other_status = (group["INVOICE_STATUS"] != "In progress").sum()  # Count other status rows
    return has_in_progress == 1 and has_other_status == 1  # Only delete if exactly one is "In Progress"

# Step 3: Identify groups where deletion should happen
to_be_deleted_groups = diff_supp_duplicates_groups.groupby(["INVOICE_NO", "TOTAL_AMT_DC", "Bus_year"]).filter(lambda x: should_delete(x))

print("2 : ", to_be_deleted_groups.groupby(['INVOICE_NO', 'TOTAL_AMT_DC', 'Bus_year']).ngroups)

invoice_numbers_to_delete = to_be_deleted_groups["INVOICE_NO"].unique().tolist()

# Step 4: Keep only rows where INVOICE_STATUS is "In Progress"
to_be_deleted_groups = to_be_deleted_groups[to_be_deleted_groups["INVOICE_STATUS"] == "In progress"]

# Step 5: Remove "In Progress" records from original DataFrame
new_loadfile_df = new_loadfile_df[~new_loadfile_df.index.isin(to_be_deleted_groups.index)]

In [ ]:
invoice_numbers_diff_supp

In [ ]:
invoice_numbers_to_delete

In [ ]:
new_loadfile_df.shape

In [ ]:
new_loadfile_df_copy2.shape

In [284]:
pd.set_option('display.max_columns', None)
new_loadfile_df_copy2[(new_loadfile_df_copy2['INVOICE_NO']=='ERS2025000004880')]

,COMPANY_CODE,SUPPLIER_NO,MIAG_SUPPLIER_NO,ORDER_NO,DOC_TYPE,INVOICE_NO,INVOICE_DATE,DELIVERY_NOTE_NO,TOTAL_AMT_DC,TOTAL_VAT_DC,CURRENCY,PRE_FINANCE_DATE,GOODS_RECEIPT_NO,GOODS_RECEIPT_DATE,INVOICE_ENTRY_DATE,INVOICE_STATUS,INVOICE_STATUS_INTERNAL,NET_DUE_DATE,DEBIT_NOTE_NO,REMITTANCE_ADVICE_NO,CLEARING_DATE,DOCUMENT_NO,STORE_NO,ARKTX,Description,AUGBL,BLDAT,Bus_year,AUGDT,MATCHING_DATE,MATCH_STATUS,SYNC_DATE,SYNC_STATUS,lookup_key
183970,3142,1000061122,3500028787,0000000502590005,WE,ERS2025000004880,24.01.2025,EYM2025000000685,308999.0,3059.4,TRY,,000425206,25.01.2025,27.01.2025,Invoice approval completed,0256,01.02.2025,,,,0810152169,1045,WE#0810152169#20250124#2025#001,open,,24.01.2025,2025,NaN,06.02.2025,No Matching Requested,06.02.2025,1,1000061122_0810152169_ERS2025000004880_2025
183971,3142,1000061122,3500028787,0000000502590005,MV,ERS2025000004880,24.01.2025,EYM2025000000685,308999.0,3059.4,TRY,28.01.2025,000425206,25.01.2025,27.01.2025,Invoice approval completed,0256,01.02.2025,,,28.01.2025,0810152169,0000,MV#0810152169#20250124#2025#001,pre-financed,,24.01.2025,2025,NaN,06.02.2025,No Matching Requested,06.02.2025,1,1000061122_0810152169_ERS2025000004880_2025

# M360 Portal upload

In [ ]:
loadfile_cleared_df = new_loadfile_df[(new_loadfile_df['INVOICE_STATUS']=='cleared-MIAG') | (new_loadfile_df['INVOICE_STATUS']=='cleared-FI')]

In [ ]:
loadfile_not_cleared_df = new_loadfile_df[~((new_loadfile_df['INVOICE_STATUS'] == 'cleared-MIAG') | (new_loadfile_df['INVOICE_STATUS'] == 'cleared-FI'))]

In [ ]:
loadfile_cleared_df.shape

In [ ]:
loadfile_not_cleared_df.shape

In [ ]:
loadfile_cleared_df.columns

In [ ]:
loadfile_cleared_df.drop(columns=['lookup_key'], inplace=True)
loadfile_not_cleared_df.drop(columns=['lookup_key'], inplace=True)

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)
# db_instance_operations.writeProcessedTable(loadfile_cleared_df)

In [ ]:
# db_instance_operations.writeStagedTable(loadfile_not_cleared_df)

In [ ]:
# db_instance_operations.writeMergedTable(loadfile_df)

In [ ]:
new_loadfile_df.drop(columns=['Bus_year', 'AUGBL', 'BLDAT', 'Description', 'AUGDT', 'lookup_key'], inplace=True)

In [ ]:
new_loadfile_df.columns

# Loadfile Upload

In [ ]:
import tempfile

class Loadfile_upload:

    def __init__(self):
        self.bucket_name = "miag-m360-test-bucket"

    def upload_dataframe_to_gcs(self, df, destination_blob_name, separator):
        storage_client = storage.Client()
        temp_file = tempfile.NamedTemporaryFile(delete=False, suffix=".csv")
        try:
            df.to_csv(temp_file.name, index=False, sep=separator, encoding='utf-8')
            bucket = storage_client.bucket(self.bucket_name)
            blob = bucket.blob(destination_blob_name)
            blob.upload_from_filename(temp_file.name)
            print(f"CSV uploaded to {destination_blob_name} in bucket {self.bucket_name}.")
        finally:
            temp_file.close()
            os.remove(temp_file.name)

In [ ]:
loadfile_upload = Loadfile_upload()

In [ ]:
new_loadfile_df.shape

In [ ]:
current_datetime = datetime.datetime.now().strftime("%Y%m%d")
loadfile_upload.upload_dataframe_to_gcs(new_loadfile_df, f"analysis/load.360.35.{current_datetime}.001_test_internal_s6_new3.csv", separator=',')
loadfile_upload.upload_dataframe_to_gcs(new_loadfile_df, f"share/load.360.35.{current_datetime}.001_new3.csv", separator=';')

In [ ]:
db_instance_operations.__del__()

In [ ]:
end_time=time.time()

In [ ]:
print('Total time : ', end_time-start_time)

In [ ]:
loadfile_df.dtypes

In [ ]:
merged_df.columns

In [ ]:
end_time-start_time

In [ ]:
merged_df[(merged_df['BELNR']=='0810000092') & (merged_df['XBLNR']=='BNI2021000000548')]

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
loadfile_df[(loadfile_df['DOCUMENT_NO']=='0810000092') & (loadfile_df['INVOICE_NO']=='BNI2021000000548')]

In [ ]:
len(mv_metadata_df[(mv_metadata_df['Document_Type_Count']==2)])

In [ ]:
mv_metadata_df.columns

In [ ]:
mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == ''))]

In [ ]:
merged_data.columns

In [ ]:
loadfile_copy_3[(loadfile_copy_3['DOCUMENT_NO']=='0810059844') & (loadfile_copy_3['DOC_TYPE'] == 'MV') & (loadfile_copy_3['REMITTANCE_ADVICE_NO'] == '')]

In [ ]:
loadfile_copy_3.columns

In [ ]:
partial_paid_df.shape

In [ ]:
pp_merged_df_new=merge_fi_ic.merge(partial_paid_df, left_on=["suppl_no", "BELNR", "XBLNR", "fin_year_FI"]
                                 , right_on=["Supplier number (Sales Line)", "Document number", "Invoice number", "SFTP_bus_year"]
                                 , how="right")
print("pp merge shape : ", pp_merged_df_new.shape[0])

In [ ]:
pp_merged_df.columns

In [ ]:
pp_merged_df_new[pp_merged_df_new['Document number']=='2900001147']

In [ ]:
pp_merged_df_new['lookup_key'] = pp_merged_df_new.apply(
    lambda x: f"{x['suppl_no']}_{x['BELNR']}_{x['XBLNR']}_{x['fin_year_FI']}", 
    axis=1
)

In [ ]:
mv_metadata_df[(mv_metadata_df['Document_Count']==1) & (mv_metadata_df['RAN_list'].apply(lambda x: len(x) == 1 and x[0] == ''))]